In [1]:
import os
import numpy as np
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity
from pprint import pprint
from fuzzywuzzy import process

C:\Users\musam\anaconda3\envs\pythondata\lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [2]:
# Take in all of our movies and ratings csvs and read it into pandas
movies = "Resources/ml-latest-small/movies.csv"
movies_df = pd.read_csv(movies)
movies_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [3]:
# Extract the release year from the title column
movies_df["release_year"] = movies_df["title"].str.extract(r'\((\d{4})\)')

# Display the updated DataFrame
movies_df.head()

,movieId,title,genres,release_year
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men (1995),Comedy|Romance,1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II (1995),Comedy,1995

In [4]:
#cleaning up the genres column to a list instead of a string
movies_df['genres'] = movies_df['genres'].apply(lambda x: x.split('|') )
movies_df.head()

,movieId,title,genres,release_year
0,1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]",1995
1,2,Jumanji (1995),"[Adventure, Children, Fantasy]",1995
2,3,Grumpier Old Men (1995),"[Comedy, Romance]",1995
3,4,Waiting to Exhale (1995),"[Comedy, Drama, Romance]",1995
4,5,Father of the Bride Part II (1995),[Comedy],1995


**Addressing the Cold-Start Problem**

Collaborative filtering relies entirely on user-item interactions within the utility matrix. However, this approach faces a challenge when dealing with new users or items that have no interactions, resulting in their exclusion from the recommendation system. This is known as the cold-start problem. One way to address this issue is by using content-based filtering, which generates recommendations based on user and item features.

To implement this, we first need to convert the genres column into binary features. Each genre will have its own column in the dataframe, with values of 0 or 1 indicating the presence or absence of that genre

In [5]:
n_movies = movies_df['movieId'].nunique()
print(f"There are {n_movies} unique movies in our movies dataset.")

There are 9742 unique movies in our movies dataset.

In [6]:
genres = set(g for G in movies_df['genres'] for g in G)
for g in genres:
    movies_df[g] = movies_df.genres.transform(lambda x: int(g in x))
    
movies_genres = movies_df.drop(columns=['movieId', 'title','genres','release_year'])

In [7]:
movies_genres

,Adventure,Crime,Thriller,Animation,Film-Noir,Documentary,Musical,Western,Mystery,Romance,Sci-Fi,Fantasy,Horror,War,Comedy,Children,Drama,Action,IMAX,(no genres listed)
0,1,0,0,1,0,0,0,0,0,0,0,1,0,0,1,1,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0
2,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,1,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9737,0,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,1,0,0
9738,0,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0
9739,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
9740,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
9741,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0

In [8]:
cosine_sim = cosine_similarity(movies_genres, movies_genres)
print(f"Dimensions of our genres cosine similarity matrix: {cosine_sim.shape}")

Dimensions of our genres cosine similarity matrix: (9742, 9742)

In [9]:
cosine_sim[0]

array([1.        , 0.77459667, 0.31622777, ..., 0.        , 0.31622777,
       0.4472136 ])

To receive recommendations for movies similar to Shawshank Redemption, it's essential to use the exact title as listed in our dataset. For example, in our dataset, Shawshank Redemption is recorded as Shawshank Redemption, The (1994).

If the title is misspelled or the release year is omitted, the recommender won't correctly identify the movie.

To make the process more user-friendly, we can utilize the Python package fuzzywuzzy. This package uses string matching algorithms to find the closest title match to a user-provided input. We'll create a function, movie_finder(), to leverage fuzzywuzzy and return the most similar movie title based on the user's input.

In [10]:
def movie_finder(title, threshold=80):
    all_titles = movies_df['title'].tolist()
    matches = process.extract(title, all_titles, limit=None)
    
    # Filter titles based on the threshold
    similar_titles = [match[0] for match in matches if match[1] >= threshold]
    
    # Get movie IDs for all matched titles
    results = []
    for matched_title in similar_titles:
        movie_id = movies_df[movies_df['title'] == matched_title].index[0]
        results.append((matched_title, movie_id))
    
    return results

Lets test it out with your favorite movie example

In [11]:
# PRACTICE
result = movie_finder('Twilight')
pprint(result)

print("chosen title:", result[0][0])
title = result[0][0]

[('Twilight (1998)', 1324),
 ('Twilight Zone: The Movie (1983)', 5514),
 ('Twilight Samurai, The (Tasogare Seibei) (2002)', 5687),
 ('Twilight (2008)', 6905),
 ('Twilight Saga: New Moon, The (2009)', 7188),
 ('Twilight Saga: Eclipse, The (2010)', 7363),
 ('Twilight Saga: Breaking Dawn - Part 1, The (2011)', 7749),
 ('Twilight Saga: Breaking Dawn - Part 2, The (2012)', 8036)]
chosen title: Twilight (1998)

To get relevant recommendations for Shawshank Redemption , we need to find its index in the cosine simialrity matrix. To identify which row we should be looking at, we can create a movie index mapper which maps a movie title to the index that it represents in our matrix.

Let's create a movie index dictionary called movie_idx where the keys are movie titles and values are movie indices:

In [12]:
# Get user input for title selection
user_input_title = input("Enter a movie title to search for: ")
user_result = movie_finder(user_input_title)

# Check if there are any results
if user_result:
    # Display results with numbering
    for idx, (title, movieId) in enumerate(user_result):
        print(f"{idx}: {title}")
    
    # # Get user input for index selection
    # user_idx = int(input("Choose what movie from search list (rder number) you want to select: "))
    # user_title = user_result[user_idx][0]
    # chosen_index = user_result[user_idx][1]
    # print("chosen title:", user_title, chosen_index)
    
    while True:
        try:
            user_idx = int(input("Choose what movie from search list (order number) you want to select: "))
            if 0 <= user_idx < len(user_result):  # Validate the index
                user_title = user_result[user_idx][0]
                chosen_index = user_result[user_idx][1]
                print("chosen title:", user_title, chosen_index)
                break  # Exit the loop if the selection is valid
            else:
                print(f"Please enter a number between 0 and {len(user_result) - 1}.")
        except ValueError:
            print("Invalid input. Please enter a valid integer.")
else:
    print("No results found.")

Enter a movie title to search for:  Twilight

0: Twilight (1998)
1: Twilight Zone: The Movie (1983)
2: Twilight Samurai, The (Tasogare Seibei) (2002)
3: Twilight (2008)
4: Twilight Saga: New Moon, The (2009)
5: Twilight Saga: Eclipse, The (2010)
6: Twilight Saga: Breaking Dawn - Part 1, The (2011)
7: Twilight Saga: Breaking Dawn - Part 2, The (2012)

Choose what movie from search list (order number) you want to select:  3

chosen title: Twilight (2008) 6905

## We now know that the movie index for Shawshank Redemption is 277 in ourr set, we need to get to top 10 recommended movies to this movie.

In [25]:
# n_recommendations=10
n_recommendations = int(input("Enter the number of recommendations you want: "))
sim_scores = [(i, float(score)) for i, score in enumerate(cosine_sim[chosen_index])]
# Exclude the target index
sim_scores = [score for score in sim_scores if score[0] != chosen_index]
# Sort scores by similarity in descending order
sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
sim_scores = sim_scores[1:(n_recommendations+1)]
sim_scores

Enter the number of recommendations you want:  5

[(3713, 0.8944271909999159),
 (7188, 0.8944271909999159),
 (228, 0.8660254037844388),
 (441, 0.8660254037844388),
 (723, 0.8660254037844388)]

In [14]:
similar_movies = [i[0] for i in sim_scores]
similar_movies

[3713, 7188, 228, 441, 723]

In [15]:
print(f"Because you watched {title}:")
movies_df['title'].iloc[similar_movies]

Because you watched Twilight Saga: Breaking Dawn - Part 2, The (2012):

3713                                     Dragonfly (2002)
7188                  Twilight Saga: New Moon, The (2009)
228     Like Water for Chocolate (Como agua para choco...
441                                        Orlando (1992)
723                       Ghost and Mrs. Muir, The (1947)
Name: title, dtype: object

In [16]:
# # try to predict ratings of recommended movies based on user's past ratings and/or ratings of others

In [26]:
from sklearn.decomposition import TruncatedSVD
from sklearn.metrics import mean_squared_error, mean_absolute_error
from sklearn.model_selection import train_test_split

In [27]:
# Load the data
ratings = "Resources/ml-latest-small/ratings.csv"
ratings_df = pd.read_csv(ratings)
ratings_df.drop(['timestamp'], axis =1, inplace=True)
ratings_df.head()

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0

In [124]:
# check for nulls
null_counts = ratings_df.isnull().sum()
print(null_counts)

userId     0
movieId    0
rating     0
dtype: int64

In [28]:
# Create a user-item matrix
user_item_matrix = ratings_df.pivot(index='userId', columns='movieId', values='rating').fillna(0)
user_item_matrix

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,4.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,2.5,0.0,0.0,0.0,0.0,0.0,2.5,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
607,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
608,2.5,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
609,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
610,5.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [29]:
# Split the data into training and testing sets
train_data, test_data = train_test_split(ratings_df, test_size=0.2, random_state=42)

In [30]:
train_data[:1]

       userId  movieId  rating
80568     509     7347     3.0

In [31]:
# Create training and testing user-item matrices
train_user_item_matrix = train_data.pivot(index='userId', columns='movieId', values='rating').fillna(0)
test_user_item_matrix = test_data.pivot(index='userId', columns='movieId', values='rating').fillna(0)

In [119]:
# Apply Truncated SVD
svd = TruncatedSVD(n_components=10)  # Number of latent factors 
# latent factors tried: 50, 100, 200, 500, 25, 10, 8, 5, 3 - less is better but not past 10
latent_matrix = svd.fit_transform(train_user_item_matrix)

In [120]:
# Reconstruct the user-item matrix
reconstructed_matrix = np.dot(latent_matrix, svd.components_)

In [121]:
# Make predictions for the test set
predictions = []
actuals = []

# Get the mapping of userId and movieId to the indices in the user-item matrix
user_index_mapping = {user_id: index for index, user_id in enumerate(train_user_item_matrix.index)}
movie_index_mapping = {movie_id: index for index, movie_id in enumerate(train_user_item_matrix.columns)}

for _, row in test_data.iterrows():
    user_id = row['userId']
    movie_id = row['movieId']
    actual_rating = row['rating']
    
    # Check if user and movie are in the mapping
    if user_id in user_index_mapping and movie_id in movie_index_mapping:
        user_index = user_index_mapping[user_id]
        movie_index = movie_index_mapping[movie_id]
        predicted_rating = reconstructed_matrix[user_index, movie_index]
        predictions.append(predicted_rating)
        actuals.append(actual_rating)

In [122]:
# Calculate RMSE
rmse = np.sqrt(mean_squared_error(actuals, predictions))
print(f'RMSE: {rmse}')

# from 0 to 5, being off by 3 score points is pretty high!

RMSE: 2.934356044422654

In [123]:
# Calculate MAE
mae = mean_absolute_error(actuals, predictions)
print(f'MAE: {mae}')
# from 0 to 5, being off by 3 score points is pretty high!

MAE: 2.698266106472718

In [37]:
# function to find id based on title
# need title locator to get id from movies csv
def original_id_finder(title, threshold=80): #threshold refers to similarity threshold
    all_titles = movies_df['title'].tolist()
    matches = process.extract(title, all_titles, limit=None)
    
    # Filter titles based on the threshold
    similar_titles = [match[0] for match in matches if match[1] >= threshold]
    
    # Get movie IDs for all matched titles
    myids = []
    for matched_title in similar_titles:
        # Access the movieId
        movie_id = movies_df[movies_df['title'] == matched_title]['movieId'].values[0]
        myids.append((matched_title, movie_id))
    
    return myids

In [38]:
# find id(s) for reccommended movie(s)
original_id_finder('Twilight Saga: Breaking Dawn - Part 2, The (2012)')

[('Twilight Saga: Breaking Dawn - Part 2, The (2012)', 98203),
 ('Twilight Saga: Breaking Dawn - Part 1, The (2011)', 91104),
 ('American President, The (1995)', 11),
 ('Cry, the Beloved Country (1995)', 40),
 ('Usual Suspects, The (1995)', 50),
 ('Big Green, The (1995)', 54),
 ('Home for the Holidays (1995)', 57),
 ('Postman, The (Postino, Il) (1994)', 58),
 ("Don't Be a Menace to South Central While Drinking Your Juice in the Hood (1996)",
  63),
 ('From Dusk Till Dawn (1996)', 70),
 ('Crossing Guard, The (1995)', 78),
 ('Juror, The (1996)', 79),
 ('In the Bleak Midwinter (1995)', 96),
 ('Boys of St. Vincent, The (1992)', 121),
 ('NeverEnding Story III, The (1994)', 126),
 ('Pie in the Sky (1996)', 129),
 ('Man of the Year (1995)', 137),
 ('Birdcage, The (1996)', 141),
 ('Brothers McMullen, The (1995)', 144),
 ('Basketball Diaries, The (1995)', 147),
 ('Addiction, The (1995)', 152),
 ('Blue in the Face (1995)', 156),
 ('Doom Generation, The (1995)', 166),
 ('Net, The (1995)', 185),
 ('Prophecy, The (1995)', 188),
 ('Scarlet Letter, The (1995)', 191),
 ('Walk in the Clouds, A (1995)', 207),
 ('Browning Version, The (1994)', 211),
 ('Babysitter, The (1995)', 217),
 ('Boys on the Side (1995)', 218),
 ('Cure, The (1995)', 219),
 ('Destiny Turns on the Radio (1995)', 228),
 ('Death and the Maiden (1994)', 229),
 ('Hunted, The (1995)', 251),
 ('Jerky Boys, The (1995)', 255),
 ('Legends of the Fall (1994)', 266),
 ('Man of the House (1995)', 274),
 ('Murder in the First (1995)', 280),
 ('Perez Family, The (1995)', 294),
 ('Quick and the Dead, The (1995)', 303),
 ('Swan Princess, The (1994)', 313),
 ('Secret of Roan Inish, The (1994)', 314),
 ('Specialist, The (1994)', 315),
 ('Santa Clause, The (1994)', 317),
 ('Shawshank Redemption, The (1994)', 318),
 ('Sum of Us, The (1994)', 324),
 ('Tales from the Hood (1995)', 330),
 ('Village of the Damned (1995)', 332),
 ('Walking Dead, The (1995)', 336),
 ('War, The (1994)', 340),
 ('Baby-Sitters Club, The (1995)', 343),
 ('Client, The (1994)', 350),
 ('Crow, The (1994)', 353),
 ('Flintstones, The (1994)', 355),
 ('Jungle Book, The (1994)', 362),
 ('Wonderful, Horrible Life of Leni Riefenstahl, The (Macht der Bilder: Leni Riefenstahl, Die) (1993)',
  363),
 ('Lion King, The (1994)', 364),
 ("Wes Craven's New Nightmare (Nightmare on Elm Street Part 7: Freddy's Finale, A) (1994)",
  366),
 ('Mask, The (1994)', 367),
 ('Paper, The (1994)', 371),
 ('River Wild, The (1994)', 376),
 ('Highlander III: The Sorcerer (a.k.a. Highlander: The Final Dimension) (1994)',
  405),
 ('In the Mouth of Madness (1995)', 407),
 ('Above the Rim (1994)', 409),
 ('Age of Innocence, The (1993)', 412),
 ('Air Up There, The (1994)', 414),
 ('Beverly Hillbillies, The (1993)', 419),
 ('Cowboy Way, The (1994)', 438),
 ('Firm, The (1993)', 454),
 ('Fugitive, The (1993)', 457),
 ('Getaway, The (1994)', 459),
 ('Hot Shots! Part Deux (1993)', 466),
 ('House of the Spirits, The (1993)', 469),
 ('Hudsucker Proxy, The (1994)', 471),
 ('In the Army Now (1994)', 473),
 ('In the Line of Fire (1993)', 474),
 ('In the Name of the Father (1993)', 475),
 ('Inkwell, The (1994)', 476),
 ('Man Without a Face, The (1993)', 491),
 ('Next Karate Kid, The (1994)', 502),
 ('Piano, The (1993)', 509),
 ('Program, The (1993)', 511),
 ('Puppet Masters, The (1994)', 512),
 ('Ref, The (1994)', 514),
 ('Remains of the Day, The (1993)', 515),
 ('Road to Wellville, The (1994)', 518),
 ('Scout, The (1994)', 528),
 ('Secret Garden, The (1993)', 531),
 ('Shadow, The (1994)', 533),
 ('Surviving the Game (1994)', 547),
 ('Three Musketeers, The (1993)', 552),
 ('War Room, The (1993)', 556),
 ('Pagemaster, The (1994)', 558),
 ('Welcome to the Dollhouse (1995)', 562),
 ('Bhaji on the Beach (1993)', 568),
 ('Spanking the Monkey (1994)', 574),
 ('Little Rascals, The (1994)', 575),
 ('Escort, The (Scorta, La) (1993)', 579),
 ('Celluloid Closet, The (1995)', 581),
 ('Brady Bunch Movie, The (1995)', 585),
 ('Terminator 2: Judgment Day (1991)', 589),
 ('Silence of the Lambs, The (1991)', 593),
 ('Beauty and the Beast (1991)', 595),
 ('Wild Bunch, The (1969)', 599),
 ('Pallbearer, The (1996)', 612),
 ('Aristocats, The (1970)', 616),
 ('Last Supper, The (1995)', 627),
 ('All Dogs Go to Heaven 2 (1996)', 631),
 ('James and the Giant Peach (1996)', 661),
 ('Run of the Country, The (1995)', 679),
 ('Substitute, The (1996)', 694),
 ('Quest, The (1996)', 704),
 ('Craft, The (1996)', 724),
 ('Great White Hype, The (1996)', 725),
 ('Rock, The (1996)', 733),
 ('Stupids, The (1996)', 747),
 ('Arrival, The (1996)', 748),
 ('Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1964)',
  750),
 ('Phantom, The (1996)', 761),
 ('Spirits of the Dead (1968)', 775),
 ('Fan, The (1996)', 782),
 ('Cable Guy, The (1996)', 784),
 ('Nutty Professor, The (1996)', 788),
 ('Frighteners, The (1996)', 799),
 ('Harriet the Spy (1996)', 801),
 ("She's the One (1996)", 804),
 ('First Wives Club, The (1996)', 830),
 ('Crow: City of Angels, The (1996)', 839),
 ('Spitfire Grill, The (1996)', 848),
 ('Godfather, The (1972)', 858),
 ('Relic, The (1997)', 879),
 ('Island of Dr. Moreau, The (1996)', 880),
 ('Trigger Effect, The (1996)', 882),
 ('Halloween: The Curse of Michael Myers (Halloween 6: The Curse of Michael Myers) (1995)',
  891),
 ('For Whom the Bell Tolls (1943)', 897),
 ('Philadelphia Story, The (1940)', 898),
 ("Singin' in the Rain (1952)", 899),
 ('Gay Divorcee, The (1934)', 907),
 ('Apartment, The (1960)', 909),
 ('Maltese Falcon, The (1941)', 913),
 ('Little Princess, The (1939)', 917),
 ('Wizard of Oz, The (1939)', 919),
 ('Gone with the Wind (1939)', 920),
 ('Women, The (1939)', 927),
 ('Father of the Bride (1950)', 934),
 ('Band Wagon, The (1953)', 935),
 ('Love in the Afternoon (1957)', 937),
 ('Mark of Zorro, The (1940)', 941),
 ('Ghost and Mrs. Muir, The (1947)', 943),
 ('Thin Man, The (1934)', 950),
 ('Inspector General, The (1949)', 963),
 ('39 Steps, The (1935)', 965),
 ('Night of the Living Dead (1968)', 968),
 ('African Queen, The (1951)', 969),
 ('Beat the Devil (1953)', 970),
 ('Pompatus of Love, The (1996)', 984),
 ('2 Days in the Valley (1996)', 999),
 ('Glimmer Man, The (1996)', 1004),
 ('D3: The Mighty Ducks (1996)', 1005),
 ('Chamber, The (1996)', 1006),
 ('Apple Dumpling Gang, The (1975)', 1007),
 ('Love Bug, The (1969)', 1010),
 ('Parent Trap, The (1961)', 1013),
 ('Shaggy Dog, The (1959)', 1016),
 ('Angels in the Outfield (1994)', 1021),
 ('Three Caballeros, The (1945)', 1024),
 ('Sword in the Stone, The (1963)', 1025),
 ('Fox and the Hound, The (1981)', 1033),
 ('Sound of Music, The (1965)', 1035),
 ('Lawnmower Man, The (1992)', 1037),
 ('Secret Agent, The (1996)', 1040),
 ('Long Kiss Goodnight, The (1996)', 1047),
 ('Get on the Bus (1996)', 1054),
 ('Innocents, The (1961)', 1076),
 ('Candidate, The (1972)', 1082),
 ('Great Race, The (1965)', 1083),
 ('Old Man and the Sea, The (1958)', 1085),
 ('Doors, The (1991)', 1093),
 ('Crying Game, The (1992)', 1094),
 ('E.T. the Extra-Terrestrial (1982)', 1097),
 ('Funeral, The (1996)', 1114),
 ('Abyss, The (1989)', 1127),
 ('Fog, The (1980)', 1128),
 ('Howling, The (1980)', 1130),
 ('Ruling Class, The (1972)', 1162),
 ('Grifters, The (1990)', 1179),
 ('English Patient, The (1996)', 1183),
 ('Thin Blue Line, The (1988)', 1189),
 ('Princess Bride, The (1987)', 1197),
 ('Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)',
  1198),
 ('Good, the Bad and the Ugly, The (Buono, il brutto, il cattivo, Il) (1966)',
  1201),
 ('Third Man, The (1949)', 1212),
 ('Blues Brothers, The (1980)', 1220),
 ('Godfather: Part II, The (1974)', 1221),
 ('Quiet Man, The (1952)', 1226),
 ('Right Stuff, The (1983)', 1231),
 ('Boot, Das (Boat, The) (1981)', 1233),
 ('Sting, The (1973)', 1234),
 ('Terminator, The (1984)', 1240),
 ('Graduate, The (1967)', 1247),
 ('8 1/2 (8½) (1963)', 1251),
 ('Shining, The (1980)', 1258),
 ('Great Escape, The (1963)', 1262),
 ('Deer Hunter, The (1978)', 1263),
 ('Manchurian Candidate, The (1962)', 1267),
 ('Pump Up the Volume (1990)', 1268),
 ('Back to the Future (1985)', 1270),
 ('Great Dictator, The (1940)', 1281),
 ('Big Sleep, The (1946)', 1284),
 ('Pink Floyd: The Wall (1982)', 1298),
 ('Killing Fields, The (1984)', 1299),
 ('Man Who Would Be King, The (1975)', 1303),
 ('Amityville Horror, The (1979)', 1327),
 ('Amityville Curse, The (1990)', 1328),
 ('Believers, The (1987)', 1332),
 ('Birds, The (1963)', 1333),
 ('Blob, The (1958)', 1334),
 ('Body Snatcher, The (1945)', 1337),
 ('Omen, The (1976)', 1350),
 ('Mirror Has Two Faces, The (1996)', 1353),
 ('Breaking the Waves (1996)', 1354),
 ('Jingle All the Way (1996)', 1359),
 ("Preacher's Wife, The (1996)", 1363),
 ('Crucible, The (1996)', 1366),
 ('Die Hard 2 (1990)', 1370),
 ('Grease 2 (1982)', 1381),
 ('Jaws 2 (1978)', 1388),
 ('Last of the Mohicans, The (1992)', 1408),
 ('Whole Wide World, The (1996)', 1413),
 ('Portrait of a Lady, The (1996)', 1417),
 ('Cement Garden, The (1993)', 1437),
 ('Pest, The (1997)', 1456),
 ('Saint, The (1997)', 1479),
 ('Daytrippers, The (1996)', 1484),
 ("Devil's Own, The (1997)", 1488),
 ('Inventing the Abbotts (1997)', 1498),
 ('Children of the Revolution (1996)', 1516),
 ('Fifth Element, The (1997)', 1527),
 ('Promise, The (La promesse) (1996)', 1533),
 ('Pillow Book, The (1996)', 1554),
 ('Speed 2: Cruise Control (1997)', 1556),
 ('Conan the Barbarian (1982)', 1587),
 ('George of the Jungle (1997)', 1588),
 ('In the Company of Men (1997)', 1594),
 ('Kull the Conqueror (1997)', 1606),
 ('Hunt for Red October, The (1990)', 1610),
 ('Edge, The (1997)', 1615),
 ('Peacemaker, The (1997)', 1616),
 ('Kiss the Girls (1997)', 1620),
 ('Game, The (1997)', 1625),
 ('MatchMaker, The (1997)', 1629),
 ('Assignment, The (1997)', 1631),
 ('Ice Storm, The (1997)', 1635),
 ('Full Monty, The (1997)', 1641),
 ("The Devil's Advocate (1997)", 1645),
 ('House of Yes, The (1997)', 1648),
 ('Year of the Horse (1997)', 1652),
 ('Swept from the Sea (1997)', 1656),
 ('Rainmaker, The (1997)', 1672),
 ('Joy Luck Club, The (1993)', 1678),
 ('Chairman of the Board (1998)', 1679),
 ('Truman Show, The (1998)', 1682),
 ('Wings of the Dove, The (1997)', 1683),
 ('Jackal, The (1997)', 1687),
 ('Apostle, The (1997)', 1694),
 ('Butcher Boy, The (1997)', 1699),
 ('Scream 2 (1997)', 1717),
 ('Stranger in the House (1997)', 1718),
 ('Sweet Hereafter, The (1997)', 1719),
 ('Postman, The (1997)', 1726),
 ('Horse Whisperer, The (1998)', 1727),
 ('Big Lebowski, The (1998)', 1732),
 ('Wag the Dog (1997)', 1747),
 ('Replacement Killers, The (1998)', 1769),
 ('Wedding Singer, The (1998)', 1777),
 ('Twilight (1998)', 1791),
 ('Man in the Iron Mask, The (1998)', 1801),
 ('Newton Boys, The (1998)', 1804),
 ('The Players Club (1998)', 1825),
 ('Big One, The (1997)', 1827),
 ('Spanish Prisoner, The (1997)', 1834),
 ('Last Days of Disco, The (1998)', 1836),
 ('Odd Couple II, The (1998)', 1837),
 ('Gingerbread Man, The (1998)', 1841),
 ('Borrowers, The (1997)', 1848),
 ('Real Blonde, The (1997)', 1857),
 ('Big Hit, The (1998)', 1866),
 ('Tarzan and the Lost City (1998)', 1867),
 ('Opposite of Sex, The (1998)', 1885),
 ('Ugly, The (1997)', 1891),
 ('Broadway Melody, The (1929)', 1926),
 ('Mutiny on the Bounty (1935)', 1931),
 ('Great Ziegfeld, The (1936)', 1932),
 ('Life of Emile Zola, The (1937)', 1933),
 ('Lost Weekend, The (1945)', 1938),
 ("All the King's Men (1949)", 1942),
 ('On the Waterfront (1954)', 1945),
 ('In the Heat of the Night (1967)', 1950),
 ('French Connection, The (1971)', 1953),
 ('Last Emperor, The (1987)', 1960),
 ('Take the Money and Run (1969)', 1963),
 ('Breakfast Club, The (1985)', 1968),
 ("Freddy's Dead: The Final Nightmare (Nightmare on Elm Street Part 6: Freddy's Dead, A) (1991)",
  1973),
 ('Friday the 13th (1980)', 1974),
 ('Friday the 13th Part 2 (1981)', 1975),
 ('Friday the 13th Part 3: 3D (1982)', 1976),
 ("Child's Play 2 (1990)", 1992),
 ('Exorcist, The (1973)', 1997),
 ('Exorcist II: The Heretic (1977)', 1998),
 ('Exorcist III, The (1990)', 1999),
 ('Lethal Weapon 2 (1989)', 2001),
 ('Gremlins 2: The New Batch (1990)', 2004),
 ('Goonies, The (1985)', 2005),
 ('Mask of Zorro, The (1998)', 2006),
 ('Back to the Future Part II (1989)', 2011),
 ('Poseidon Adventure, The (1972)', 2013),
 ('Godfather: Part III, The (1990)', 2023),
 ('Rapture, The (1991)', 2024),
 ('Barefoot Executive, The (1971)', 2032),
 ('Black Cauldron, The (1985)', 2033),
 ('Black Hole, The (1979)', 2034),
 ('Cat from Outer Space, The (1978)', 2038),
 ('D2: The Mighty Ducks (1994)', 2042),
 ('Devil and Max Devlin, The (1981)', 2044),
 ('Flight of the Navigator (1986)', 2046),
 ('Great Mouse Detective, The (1986)', 2048),
 ('Honey, I Blew Up the Kid (1992)', 2053),
 ('Honey, I Shrunk the Kids (1989)', 2054),
 ('In Search of the Castaways (1962)', 2056),
 ('Incredible Journey, The (1963)', 2057),
 ('Negotiator, The (1998)', 2058),
 ('Parent Trap, The (1998)', 2059),
 ('Purple Rose of Cairo, The (1985)', 2065),
 ('Out of the Past (1947)', 2066),
 ('Trip to Bountiful, The (1985)', 2069),
 ('And the Band Played On (1993)', 2071),
 ("'burbs, The (1989)", 2072),
 ('Journey of Natty Gann, The (1985)', 2077),
 ('Jungle Book, The (1967)', 2078),
 ('Lady and the Tramp (1955)', 2080),
 ('Little Mermaid, The (1989)', 2081),
 ('Mighty Ducks, The (1992)', 2082),
 ('Rescuers Down Under, The (1990)', 2089),
 ('Rescuers, The (1977)', 2090),
 ('Return of Jafar, The (1994)', 2092),
 ('Rocketeer, The (1991)', 2094),
 ('Shaggy D.A., The (1976)', 2095),
 ('Song of the South (1946)', 2099),
 ('Halloween H20: 20 Years Later (Halloween 7: The Revenge of Laurie Strode) (1998)',
  2107),
 ('Jerk, The (1979)', 2109),
 ('Man with Two Brains, The (1983)', 2111),
 ('Outsiders, The (1983)', 2114),
 ('Lord of the Rings, The (1978)', 2116),
 ('Dead Zone, The (1983)', 2118),
 ('Children of the Corn (1984)', 2122),
 ('Addams Family, The (1991)', 2124),
 ('Nutty Professor, The (1963)', 2136),
 ('Secret of NIMH, The (1982)', 2139),
 ('Dark Crystal, The (1982)', 2140),
 ('Clan of the Cave Bear, The (1986)', 2147),
 ('House II: The Second Story (1987)', 2149),
 ('Gods Must Be Crazy, The (1980)', 2150),
 ('Gods Must Be Crazy II, The (1989)', 2151),
 ('Avengers, The (1998)', 2153),
 ('NeverEnding Story, The (1984)', 2161),
 ('Wrong Man, The (1956)', 2182),
 ('Man Who Knew Too Much, The (1956)', 2183),
 ('Trouble with Harry, The (1955)', 2184),
 ('Untouchables, The (1987)', 2194),
 ('Paradine Case, The (1947)', 2201),
 ('Lady Vanishes, The (1938)', 2208),
 ('Man Who Knew Too Much, The (1934)', 2212),
 ('Ring, The (1927)', 2226),
 ('Allnighter, The (1987)', 2244),
 ('Married to the Mob (1988)', 2247),
 ('Seventh Sign, The (1988)', 2263),
 ("Butcher's Wife, The (1991)", 2266),
 ('Sheltering Sky, The (1990)', 2283),
 ('Thing, The (1982)', 2288),
 ('Player, The (1992)', 2289),
 ('Impostors, The (1998)', 2295),
 ('Night at the Roxbury, A (1998)', 2296),
 ('Producers, The (1968)', 2300),
 ('Love Is the Devil (1998)', 2304),
 ('Mighty, The (1998)', 2310),
 ('Elephant Man, The (1980)', 2313),
 ('Cruise, The (1998)', 2323),
 ('Siege, The (1998)', 2334),
 ('Waterboy, The (1998)', 2335),
 ('Stepford Wives, The (1975)', 2346),
 ('Big Chill, The (1983)', 2352),
 ('Enemy of the State (1998)', 2353),
 ('Rugrats Movie, The (1998)', 2354),
 ('Celebration, The (Festen) (1998)', 2360),
 ('Godzilla 1985: The Legend Is Reborn (Gojira) (Godzilla) (Return of Godzilla, The) (1984)',
  2364),
 ('Emerald Forest, The (1985)', 2370),
 ('Money Pit, The (1986)', 2375),
 ('Babe: Pig in the City (1998)', 2384),
 ('Prince of Egypt, The (1998)', 2394),
 ('Santa Claus: The Movie (1985)', 2399),
 ('Rambo: First Blood Part II (1985)', 2402),
 ('Jewel of the Nile, The (1985)', 2405),
 ('Romancing the Stone (1984)', 2406),
 ('Cocoon: The Return (1988)', 2408),
 ('Karate Kid, The (1984)', 2420),
 ('Karate Kid, Part II, The (1986)', 2421),
 ('Karate Kid, Part III, The (1989)', 2422),
 ('General, The (1998)', 2425),
 ('Thin Red Line, The (1998)', 2427),
 ('Faculty, The (1998)', 2428),
 ('Howard the Duck (1986)', 2450),
 ('Gate, The (1987)', 2451),
 ('Boy Who Could Fly, The (1986)', 2453),
 ('Fly, The (1958)', 2454),
 ('Fly, The (1986)', 2455),
 ('Fly II, The (1989)', 2456),
 ('Texas Chainsaw Massacre: The Next Generation (a.k.a. The Return of the Texas Chainsaw Massacre) (1994)',
  2462),
 ('Color of Money, The (1986)', 2474),
 ('Harmonists, The (1997)', 2493),
 ('Last Days, The (1998)', 2494),
 ('Blast from the Past (1999)', 2496),
 ('Apple, The (Sib) (1998)', 2503),
 ('Other Sister, The (1999)', 2506),
 ('Long Goodbye, The (1973)', 2511),
 ('Children of the Corn III (1994)', 2516),
 ('Towering Inferno, The (1974)', 2524),
 ('Planet of the Apes (1968)', 2529),
 ('Corruptor, The (1999)', 2540),
 ('Deep End of the Ocean, The (1999)', 2546),
 ('Rage: Carrie 2, The (1999)', 2548),
 ('Haunting, The (1963)', 2550),
 ('Village of the Damned (1960)', 2553),
 ('Children of the Damned (1963)', 2554),
 ('King and I, The (1999)', 2559),
 ('King and I, The (1956)', 2565),
 ('Mod Squad, The (1999)', 2568),
 ('Walk on the Moon, A (1999)', 2570),
 ('Matrix, The (1999)', 2571),
 ('Out-of-Towners, The (1999)', 2574),
 ('Monster, The (Mostro, Il) (1994)', 2593),
 ('Winslow Boy, The (1999)', 2611),
 ('Night of the Comet (1984)', 2613),
 ('Mummy, The (1999)', 2617),
 ('Castle, The (1997)', 2618),
 ('Love Letter, The (1999)', 2629),
 ('Mummy, The (1932)', 2633),
 ('Mummy, The (1959)', 2634),
 ('Curse of Frankenstein, The (1957)', 2652),
 ('Wolf Man, The (1941)', 2654),
 ('War of the Worlds, The (1953)', 2662),
 ('Thirteenth Floor, The (1999)', 2672),
 ("General's Daughter, The (1999)", 2688),
 ("Legend of 1900, The (a.k.a. The Legend of the Pianist on the Ocean) (Leggenda del pianista sull'oceano) (1998)",
  2691),
 ('Boys, The (1998)', 2695),
 ('My Son the Fanatic (1997)', 2697),
 ('Blair Witch Project, The (1999)', 2710),
 ('Haunting, The (1999)', 2719),
 ('Killing, The (1956)', 2726),
 ('Mosquito Coast, The (1986)', 2734),
 ('Golden Child, The (1986)', 2735),
 ('Crimes of the Heart (1986)', 2738),
 ('Color Purple, The (1985)', 2739),
 ('Kindred, The (1986)', 2740),
 ('Mission, The (1986)', 2745),
 ('Morning After, The (1986)', 2749),
 ('From the Hip (1987)', 2751),
 ('Iron Giant, The (1999)', 2761),
 ('Sixth Sense, The (1999)', 2762),
 ('Thomas Crown Affair, The (1999)', 2763),
 ('Thomas Crown Affair, The (1968)', 2764),
 ('Acid House, The (1998)', 2765),
 ('Yards, The (2000)', 2769),
 ('Pit and the Pendulum (1961)', 2782),
 ('Airplane II: The Sequel (1982)', 2792),
 ('Problem Child 2 (1991)', 2799),
 ('Pelican Brief, The (1993)', 2803),
 ('Source, The (1999)', 2813),
 ('On the Ropes (1999)', 2824),
 ('13th Warrior, The (1999)', 2826),
 ("Astronaut's Wife, The (1999)", 2827),
 ('Muse, The (1999)', 2829),
 ('Minus Man, The (1999)', 2844),
 ('For Love of the Game (1999)', 2861),
 ('Buddy Holly Story, The (1978)', 2866),
 ('Fright Night Part II (1988)', 2868),
 ('Barefoot in the Park (1967)', 2870),
 ('Pajama Game, The (1957)', 2874),
 ('Jakob the Liar (1999)', 2882),
 ('Dark Half, The (1993)', 2898),
 ('Limey, The (1999)', 2912),
 ("Razor's Edge, The (1984)", 2928),
 ('Lady Eve, The (1941)', 2935),
 ('Palm Beach Story, The (1942)', 2937),
 ('Dirty Dozen, The (1967)', 2944),
 ('Blue Lagoon, The (1980)', 2950),
 ('Story of Us, The (1999)', 2961),
 ('Omega Code, The (1999)', 2965),
 ('Straight Story, The (1999)', 2966),
 ('Bad Seed, The (1956)', 2967),
 ('Best Man, The (1999)', 2975),
 ('Bringing Out the Dead (1999)', 2976),
 ('Guardian, The (1990)', 2982),
 ('Ipcress File, The (1965)', 2983),
 ('RoboCop 2 (1990)', 2986),
 ('Music of the Heart (1999)', 2996),
 ('Bachelor, The (1999)', 3004),
 ('Bone Collector, The (1999)', 3005),
 ('Insider, The (1999)', 3006),
 ('Creepshow 2 (1987)', 3017),
 ('Funhouse, The (1981)', 3021),
 ('General, The (1926)', 3022),
 ('Taming of the Shrew, The (1967)', 3028),
 ('Omega Man, The (1971)', 3032),
 ('Face in the Crowd, A (1957)', 3038),
 ('Meatballs Part II (1984)', 3041),

In [ ]:
# function to match original id to resconstructed_matrix index for the movie/user?

In [39]:
# Predict a specific user's rating for a specific movie
user_id = 10 # change to reflect a user of interest (ex.user 10 has rated Twilight Saga: Breaking Dawn - Part 2)
movie_id = 98203 #change to reflect a reccommended movie
predicted_rating = reconstructed_matrix[user_id, movie_id]

print(f'Predicted rating for user {user_id} for movie {movie_id}: {predicted_rating}')

IndexError: index 98203 is out of bounds for axis 1 with size 8983