In [2]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pprint as pp

In [3]:
# Import data
links = pd.read_csv('Resources/ml-latest-small/links.csv')
movies = pd.read_csv('Resources/ml-latest-small/movies.csv')
ratings = pd.read_csv('Resources/ml-latest-small/ratings.csv')
tags = pd.read_csv('Resources/ml-latest-small/tags.csv')

In [4]:
print("Links columns: ", links.columns)
print("Movies columns: ", movies.columns)
print("Ratings columns: ", ratings.columns)
print("Tags columns: ", tags.columns)

Links columns:  Index(['movieId', 'imdbId', 'tmdbId'], dtype='object')
Movies columns:  Index(['movieId', 'title', 'genres'], dtype='object')
Ratings columns:  Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')
Tags columns:  Index(['userId', 'movieId', 'tag', 'timestamp'], dtype='object')

In [5]:
ratings_sorted = ratings.sort_values(by=['userId'], ascending=True)
tags_sorted = tags.sort_values(by=['userId'], ascending=True)

print(ratings_sorted.head().to_string())
print(tags_sorted.head().to_string())

     userId  movieId  rating  timestamp
0         1        1     4.0  964982703
147       1     2329     5.0  964983263
148       1     2338     2.0  964983546
149       1     2353     5.0  964983861
150       1     2366     4.0  964982462
   userId  movieId                tag   timestamp
0       2    60756              funny  1445714994
7       2   106782  Leonardo DiCaprio  1445715051
6       2   106782              drugs  1445715054
5       2    89774          Tom Hardy  1445715205
8       2   106782    Martin Scorsese  1445715056

In [6]:
# Merge the combined ratings_tags DataFrame with movies DataFrame
all_data = pd.merge(ratings_sorted, tags_sorted, on='movieId', how='inner')

# Verify the merged DataFrame
all_data.head(20)

# Save all_data DataFrame to a CSV file
all_data.to_csv('Resources/all_data.csv', index=False)

In [7]:
# Step 1: Identify mismatched rows
mismatched_rows = all_data[all_data['userId_x'] != all_data['userId_y']]

# Print mismatched rows to investigate
# print(mismatched_rows.to_string())

# Step 2: Update userId_y to match userId_x for mismatched rows
all_data.loc[all_data['userId_x'] != all_data['userId_y'], 'userId_y'] = all_data['userId_x']

# Verify that there are no more mismatched rows
mismatched_rows_after = all_data[all_data['userId_x'] != all_data['userId_y']]
print(mismatched_rows_after.to_string())  # This should print an empty DataFrame

# Display the cleaned DataFrame
print(all_data.head(20).to_string())

Empty DataFrame
Columns: [userId_x, movieId, rating, timestamp_x, userId_y, tag, timestamp_y]
Index: []
    userId_x  movieId  rating  timestamp_x  userId_y                 tag  timestamp_y
0          1        1     4.0    964982703         1               pixar   1139045764
1          1        1     4.0    964982703         1               pixar   1137206825
2          1        1     4.0    964982703         1                 fun   1525286013
3          1     2329     5.0    964983263         1   thought-provoking   1457843729
4          1     2329     5.0    964983263         1              racism   1138031951
5          1     2329     5.0    964983263         1            politics   1424141461
6          1     2329     5.0    964983263         1           emotional   1424141459
7          1     2329     5.0    964983263         1       edward norton   1424141449
8          1     2387     5.0    964983123         1         dark comedy   1474382225
9          1     2387     5.0    964983123         1          dark humor   1474382223
10         1     2470     5.0    964982588         1           Australia   1137374348
11         1     2502     5.0    964981278         1             stapler   1138032123
12         1     2502     5.0    964981278         1           workplace   1138032129
13         1     2529     5.0    964982242         1        twist ending   1138032140
14         1     2571     5.0    964981888         1              sci-fi   1457842899
15         1     2571     5.0    964981888         1        martial arts   1457842912
16         1     2571     5.0    964981888         1  alternate universe   1137204991
17         1     2571     5.0    964981888         1    post apocalyptic   1424141101
18         1     2571     5.0    964981888         1          philosophy   1424141098
19         1     2616     4.0    964983080         1          comic book   1234789098

In [8]:
ratings.head(20)

    userId  movieId  rating  timestamp
0        1        1     4.0  964982703
1        1        3     4.0  964981247
2        1        6     4.0  964982224
3        1       47     5.0  964983815
4        1       50     5.0  964982931
5        1       70     3.0  964982400
6        1      101     5.0  964980868
7        1      110     4.0  964982176
8        1      151     5.0  964984041
9        1      157     5.0  964984100
10       1      163     5.0  964983650
11       1      216     5.0  964981208
12       1      223     3.0  964980985
13       1      231     5.0  964981179
14       1      235     4.0  964980908
15       1      260     5.0  964981680
16       1      296     3.0  964982967
17       1      316     3.0  964982310
18       1      333     5.0  964981179
19       1      349     4.0  964982563

In [9]:
# Count unique values in tags csv
print(tags['tag'].value_counts())

tag
In Netflix queue     131
atmospheric           36
thought-provoking     24
superhero             24
funny                 23
                    ...
small towns            1
In Your Eyes           1
Lloyd Dobbler          1
weak plot              1
Heroic Bloodshed       1
Name: count, Length: 1589, dtype: int64

In [10]:
# Reload the DataFrame from the original CSV file
all_data = pd.read_csv('Resources/all_data.csv')

# Verify the columns are restored
print(all_data.columns)

# Update column names in all_data DataFrame
all_data = all_data.rename(columns={
    'userId_x': 'userId_Rating', 
    'userId_y': 'userId_Tags', 
    'timestamp_x': 'timestamp_Rating', 
    'timestamp_y': 'timestamp_Tags'
})


# Verify the columns are updated
print(all_data.columns)

Index(['userId_x', 'movieId', 'rating', 'timestamp_x', 'userId_y', 'tag',
       'timestamp_y'],
      dtype='object')
Index(['userId_Rating', 'movieId', 'rating', 'timestamp_Rating', 'userId_Tags',
       'tag', 'timestamp_Tags'],
      dtype='object')

In [11]:
# Adding movie titles to all_data DataFrame
all_data_incl_movies = pd.merge(all_data, movies, on='movieId', how='inner')

# Sort the DataFrame by both userId_Rating and userId_Tags
sorted_df = all_data_incl_movies.sort_values(by=['userId_Rating', 'userId_Tags'], ascending=True)

# Display the first 20 rows of the sorted DataFrame
sorted_df.head(20)

,userId_Rating,movieId,rating,timestamp_Rating,userId_Tags,tag,timestamp_Tags,title,genres
53,1,3578,5.0,964980668,62,Russell Crowe,1528152465,Gladiator (2000),Action|Adventure|Drama
54,1,3578,5.0,964980668,62,Rome,1528152463,Gladiator (2000),Action|Adventure|Drama
55,1,3578,5.0,964980668,62,revenge,1528152496,Gladiator (2000),Action|Adventure|Drama
56,1,3578,5.0,964980668,62,imdb top 250,1528152498,Gladiator (2000),Action|Adventure|Drama
57,1,3578,5.0,964980668,62,history,1528152467,Gladiator (2000),Action|Adventure|Drama
58,1,3578,5.0,964980668,62,Epic,1528152469,Gladiator (2000),Action|Adventure|Drama
59,1,3578,5.0,964980668,62,ancient Rome,1528152504,Gladiator (2000),Action|Adventure|Drama
218,1,110,4.0,964982176,62,sword fight,1528152535,Braveheart (1995),Action|Drama|War
219,1,110,4.0,964982176,62,revenge,1528152531,Braveheart (1995),Action|Drama|War
220,1,110,4.0,964982176,62,Oscar (Best Cinematography),1528152539,Braveheart (1995),Action|Drama|War
221,1,110,4.0,964982176,62,mel gibson,1528152521,Braveheart (1995),Action|Drama|War
222,1,110,4.0,964982176,62,Medieval,1528152528,Braveheart (1995),Action|Drama|War
223,1,110,4.0,964982176,62,inspirational,1528152527,Braveheart (1995),Action|Drama|War
224,1,110,4.0,964982176,62,historical,1528152523,Braveheart (1995),Action|Drama|War
225,1,110,4.0,964982176,62,epic,1528152532,Braveheart (1995),Action|Drama|War
226,1,110,4.0,964982176,62,beautiful scenery,1528152541,Braveheart (1995),Action|Drama|War
238,1,260,5.0,964981680,63,space action,1443199710,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi
239,1,260,5.0,964981680,63,classic,1443199698,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi
240,1,260,5.0,964981680,76,action,1439165594,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi
241,1,260,5.0,964981680,76,sci-fi,1439165588,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi

In [17]:
year_rated = 1970 + (sorted_df['timestamp_Rating'] / 31540000)
year_rated = year_rated.astype('int')
sorted_df['year_rated'] = year_rated
sorted_df.head(20)

,userId_Rating,movieId,rating,timestamp_Rating,userId_Tags,tag,timestamp_Tags,title,genres,year_rated
53,1,3578,5.0,964980668,62,Russell Crowe,1528152465,Gladiator (2000),Action|Adventure|Drama,2000
54,1,3578,5.0,964980668,62,Rome,1528152463,Gladiator (2000),Action|Adventure|Drama,2000
55,1,3578,5.0,964980668,62,revenge,1528152496,Gladiator (2000),Action|Adventure|Drama,2000
56,1,3578,5.0,964980668,62,imdb top 250,1528152498,Gladiator (2000),Action|Adventure|Drama,2000
57,1,3578,5.0,964980668,62,history,1528152467,Gladiator (2000),Action|Adventure|Drama,2000
58,1,3578,5.0,964980668,62,Epic,1528152469,Gladiator (2000),Action|Adventure|Drama,2000
59,1,3578,5.0,964980668,62,ancient Rome,1528152504,Gladiator (2000),Action|Adventure|Drama,2000
218,1,110,4.0,964982176,62,sword fight,1528152535,Braveheart (1995),Action|Drama|War,2000
219,1,110,4.0,964982176,62,revenge,1528152531,Braveheart (1995),Action|Drama|War,2000
220,1,110,4.0,964982176,62,Oscar (Best Cinematography),1528152539,Braveheart (1995),Action|Drama|War,2000
221,1,110,4.0,964982176,62,mel gibson,1528152521,Braveheart (1995),Action|Drama|War,2000
222,1,110,4.0,964982176,62,Medieval,1528152528,Braveheart (1995),Action|Drama|War,2000
223,1,110,4.0,964982176,62,inspirational,1528152527,Braveheart (1995),Action|Drama|War,2000
224,1,110,4.0,964982176,62,historical,1528152523,Braveheart (1995),Action|Drama|War,2000
225,1,110,4.0,964982176,62,epic,1528152532,Braveheart (1995),Action|Drama|War,2000
226,1,110,4.0,964982176,62,beautiful scenery,1528152541,Braveheart (1995),Action|Drama|War,2000
238,1,260,5.0,964981680,63,space action,1443199710,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi,2000
239,1,260,5.0,964981680,63,classic,1443199698,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi,2000
240,1,260,5.0,964981680,76,action,1439165594,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi,2000
241,1,260,5.0,964981680,76,sci-fi,1439165588,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi,2000

In [18]:
year_tagged = 1970 + (sorted_df['timestamp_Tags'] / 31540000)
year_tagged = year_tagged.astype('int')
sorted_df['year_tagged'] = year_tagged
sorted_df.head(20)

,userId_Rating,movieId,rating,timestamp_Rating,userId_Tags,tag,timestamp_Tags,title,genres,year_rated,year_tagged
53,1,3578,5.0,964980668,62,Russell Crowe,1528152465,Gladiator (2000),Action|Adventure|Drama,2000,2018
54,1,3578,5.0,964980668,62,Rome,1528152463,Gladiator (2000),Action|Adventure|Drama,2000,2018
55,1,3578,5.0,964980668,62,revenge,1528152496,Gladiator (2000),Action|Adventure|Drama,2000,2018
56,1,3578,5.0,964980668,62,imdb top 250,1528152498,Gladiator (2000),Action|Adventure|Drama,2000,2018
57,1,3578,5.0,964980668,62,history,1528152467,Gladiator (2000),Action|Adventure|Drama,2000,2018
58,1,3578,5.0,964980668,62,Epic,1528152469,Gladiator (2000),Action|Adventure|Drama,2000,2018
59,1,3578,5.0,964980668,62,ancient Rome,1528152504,Gladiator (2000),Action|Adventure|Drama,2000,2018
218,1,110,4.0,964982176,62,sword fight,1528152535,Braveheart (1995),Action|Drama|War,2000,2018
219,1,110,4.0,964982176,62,revenge,1528152531,Braveheart (1995),Action|Drama|War,2000,2018
220,1,110,4.0,964982176,62,Oscar (Best Cinematography),1528152539,Braveheart (1995),Action|Drama|War,2000,2018
221,1,110,4.0,964982176,62,mel gibson,1528152521,Braveheart (1995),Action|Drama|War,2000,2018
222,1,110,4.0,964982176,62,Medieval,1528152528,Braveheart (1995),Action|Drama|War,2000,2018
223,1,110,4.0,964982176,62,inspirational,1528152527,Braveheart (1995),Action|Drama|War,2000,2018
224,1,110,4.0,964982176,62,historical,1528152523,Braveheart (1995),Action|Drama|War,2000,2018
225,1,110,4.0,964982176,62,epic,1528152532,Braveheart (1995),Action|Drama|War,2000,2018
226,1,110,4.0,964982176,62,beautiful scenery,1528152541,Braveheart (1995),Action|Drama|War,2000,2018
238,1,260,5.0,964981680,63,space action,1443199710,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi,2000,2015
239,1,260,5.0,964981680,63,classic,1443199698,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi,2000,2015
240,1,260,5.0,964981680,76,action,1439165594,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi,2000,2015
241,1,260,5.0,964981680,76,sci-fi,1439165588,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi,2000,2015

In [19]:
# Dropping timestamp columns
sorted_df = sorted_df.drop(columns=['timestamp_Rating', 'timestamp_Tags'])
sorted_df.head(20)

,userId_Rating,movieId,rating,userId_Tags,tag,title,genres,year_rated,year_tagged
53,1,3578,5.0,62,Russell Crowe,Gladiator (2000),Action|Adventure|Drama,2000,2018
54,1,3578,5.0,62,Rome,Gladiator (2000),Action|Adventure|Drama,2000,2018
55,1,3578,5.0,62,revenge,Gladiator (2000),Action|Adventure|Drama,2000,2018
56,1,3578,5.0,62,imdb top 250,Gladiator (2000),Action|Adventure|Drama,2000,2018
57,1,3578,5.0,62,history,Gladiator (2000),Action|Adventure|Drama,2000,2018
58,1,3578,5.0,62,Epic,Gladiator (2000),Action|Adventure|Drama,2000,2018
59,1,3578,5.0,62,ancient Rome,Gladiator (2000),Action|Adventure|Drama,2000,2018
218,1,110,4.0,62,sword fight,Braveheart (1995),Action|Drama|War,2000,2018
219,1,110,4.0,62,revenge,Braveheart (1995),Action|Drama|War,2000,2018
220,1,110,4.0,62,Oscar (Best Cinematography),Braveheart (1995),Action|Drama|War,2000,2018
221,1,110,4.0,62,mel gibson,Braveheart (1995),Action|Drama|War,2000,2018
222,1,110,4.0,62,Medieval,Braveheart (1995),Action|Drama|War,2000,2018
223,1,110,4.0,62,inspirational,Braveheart (1995),Action|Drama|War,2000,2018
224,1,110,4.0,62,historical,Braveheart (1995),Action|Drama|War,2000,2018
225,1,110,4.0,62,epic,Braveheart (1995),Action|Drama|War,2000,2018
226,1,110,4.0,62,beautiful scenery,Braveheart (1995),Action|Drama|War,2000,2018
238,1,260,5.0,63,space action,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi,2000,2015
239,1,260,5.0,63,classic,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi,2000,2015
240,1,260,5.0,76,action,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi,2000,2015
241,1,260,5.0,76,sci-fi,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi,2000,2015

In [21]:
sorted_df['year_released'] = sorted_df['title'].str.extract(r'\((\d{4})\)')
sorted_df.tail()

,userId_Rating,movieId,rating,userId_Tags,tag,title,genres,year_rated,year_tagged,year_released
232792,610,1732,4.5,599,Nudity (Full Frontal),"Big Lebowski, The (1998)",Comedy|Crime,2016,2017,1998
232096,610,3578,5.0,606,Romans,Gladiator (2000),Action|Adventure|Drama,2017,2007,2000
231909,610,168248,5.0,610,Heroic Bloodshed,John Wick: Chapter Two (2017),Action|Crime|Thriller,2017,2017,2017
232177,610,3265,5.0,610,gun fu,Hard-Boiled (Lat sau san taam) (1992),Action|Crime|Drama|Thriller,2016,2017,1992
232178,610,3265,5.0,610,heroic bloodshed,Hard-Boiled (Lat sau san taam) (1992),Action|Crime|Drama|Thriller,2016,2017,1992

In [20]:
# Saving updated CSV file
sorted_df.to_csv('Resources/sorted_data.csv', index=False)

In [23]:
# check year released dtype and change to categorical if needed
# merged_movie_ratings.dtypes
sorted_df['year_released'] = sorted_df['year_released'].astype('category')
sorted_df['year_rated'] = sorted_df['year_rated'].astype('category')
sorted_df['year_tagged'] = sorted_df['year_tagged'].astype('category')
sorted_df.dtypes

userId_Rating       int64
movieId             int64
rating            float64
userId_Tags         int64
tag                object
title              object
genres             object
year_rated       category
year_tagged      category
year_released    category
dtype: object

In [25]:
# Convert categorical data to numeric with `pd.get_dummies`
sorted_df_copy =  sorted_df.copy()
merged_dummies = pd.get_dummies(sorted_df_copy, columns=['year_rated', 'year_released', 'genres', 'year_tagged'] \
                                , drop_first=True)

merged_dummies.head()

,userId_Rating,movieId,rating,userId_Tags,tag,title,year_rated_1997,year_rated_1998,year_rated_1999,year_rated_2000,...,year_tagged_2009,year_tagged_2010,year_tagged_2011,year_tagged_2012,year_tagged_2013,year_tagged_2014,year_tagged_2015,year_tagged_2016,year_tagged_2017,year_tagged_2018
53,1,3578,5.0,62,Russell Crowe,Gladiator (2000),False,False,False,True,...,False,False,False,False,False,False,False,False,False,True
54,1,3578,5.0,62,Rome,Gladiator (2000),False,False,False,True,...,False,False,False,False,False,False,False,False,False,True
55,1,3578,5.0,62,revenge,Gladiator (2000),False,False,False,True,...,False,False,False,False,False,False,False,False,False,True
56,1,3578,5.0,62,imdb top 250,Gladiator (2000),False,False,False,True,...,False,False,False,False,False,False,False,False,False,True
57,1,3578,5.0,62,history,Gladiator (2000),False,False,False,True,...,False,False,False,False,False,False,False,False,False,True

In [26]:
# drop a couple more columns
merged_dummies = merged_dummies.drop(columns=['userId_Rating', 'movieId', 'userId_Tags', 'title'])
merged_dummies.head()

,rating,tag,year_rated_1997,year_rated_1998,year_rated_1999,year_rated_2000,year_rated_2001,year_rated_2002,year_rated_2003,year_rated_2004,...,year_tagged_2009,year_tagged_2010,year_tagged_2011,year_tagged_2012,year_tagged_2013,year_tagged_2014,year_tagged_2015,year_tagged_2016,year_tagged_2017,year_tagged_2018
53,5.0,Russell Crowe,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
54,5.0,Rome,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
55,5.0,revenge,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
56,5.0,imdb top 250,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
57,5.0,history,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True

In [28]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix,classification_report
from sklearn.preprocessing import StandardScaler

# Split our preprocessed data into our features and target arrays
y = merged_dummies['rating']
X = merged_dummies.drop(['rating'], axis=1)

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [34]:
# Combine X_train and X_test for fitting the LabelEncoder
combined_data = pd.concat([X_train, X_test])

# Fit the LabelEncoder on the combined data
for column in combined_data.columns:
    if combined_data[column].dtype == object:
        combined_data[column] = combined_data[column].astype(str)  # Convert column values to strings
        label_encoder.fit(combined_data[column])

# Transform X_train and X_test using the fitted LabelEncoder
for column in X_train.columns:
    if X_train[column].dtype == object:
        X_train[column] = label_encoder.transform(X_train[column])
        X_test[column] = label_encoder.transform(X_test[column])

In [35]:
# Instantiate the model with k = 3 neighbors
model = KNeighborsClassifier(n_neighbors=3)

In [39]:
# Convert continuous target variable to discrete classes
y_train_classes = pd.cut(y_train, bins=[0, 1, 2, 3, 4, 5], labels=False)

# Train the model with the converted target variable
model.fit(X_train, y_train_classes)

KNeighborsClassifier(n_neighbors=3)