In [1]:
# Import dependencies 
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from datetime import datetime
# from scipy.sparse import csr_matrix

from sklearn.metrics.pairwise import cosine_similarity
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix,classification_report
from sklearn.preprocessing import StandardScaler

In [2]:
#import our input dataset
#SAMPLES from MovieLens

In [3]:
links_df = pd.read_csv("Resources/ml-latest-small/links.csv")
links_df.head()

#example of imdb id for toy story is tt0114709 -- could use with OMDB API for extra info (excerpt etc) once presenting reccs?

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [4]:
movies_df = pd.read_csv("Resources/ml-latest-small/movies.csv")
movies_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [5]:
ratings_df = pd.read_csv("Resources/ml-latest-small/ratings.csv")
ratings_df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [6]:
tags_df = pd.read_csv("Resources/ml-latest-small/tags.csv")
tags_df.head()

   userId  movieId              tag   timestamp
0       2    60756            funny  1445714994
1       2    60756  Highly quotable  1445714996
2       2    60756     will ferrell  1445714992
3       2    89774     Boxing story  1445715207
4       2    89774              MMA  1445715200

In [7]:
#merge rating + movies to have titles ready
# merged_movie_ratings = pd.merge(movies_df, ratings_df, on='movieId', how='outer')
merged_movie_ratings = pd.merge(movies_df, ratings_df, on='movieId', how='inner')
merged_movie_ratings.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,847434962
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,4.5,1106635946
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.5,1510577970
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17,4.5,1305696483

In [8]:
#check shape of new merged movies+ratings
print("Rows, Columns:", merged_movie_ratings.shape)

#outer join: rows = 100854 ; include all and give nulls to those with no ratings. keeps individual user ratings!
# inner join: rows = 100836 ; exclude those with no ratings so no nulls

Rows, Columns: (100836, 6)

In [9]:
# count nulls
null_counts = merged_movie_ratings.isnull().sum()
print(null_counts)

has_nulls = merged_movie_ratings.isnull().values.any()
print(has_nulls)

movieId      0
title        0
genres       0
userId       0
rating       0
timestamp    0
dtype: int64
False

In [10]:
## 1. 
# a. change timestamp (orig rating csv) to year [see Brendan's method]
# b. separate year from title to get year_released

In [11]:
year_rated = 1970 + (merged_movie_ratings['timestamp'] / 31540000)
year_rated = np.floor(year_rated).astype('int')
year_rated

0         2000
1         1996
2         2005
3         2017
4         2011
          ...
100831    2018
100832    2018
100833    2018
100834    2018
100835    2018
Name: timestamp, Length: 100836, dtype: int32

In [12]:
merged_movie_ratings['year_rated'] = year_rated
merged_movie_ratings.head()

,movieId,title,genres,userId,rating,timestamp,year_rated
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703,2000
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,847434962,1996
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,4.5,1106635946,2005
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.5,1510577970,2017
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17,4.5,1305696483,2011

In [13]:
# change dtype of year_rated to categorical
merged_movie_ratings['year_rated'] = merged_movie_ratings['year_rated'].astype('category')
merged_movie_ratings.dtypes

movieId          int64
title           object
genres          object
userId           int64
rating         float64
timestamp        int64
year_rated    category
dtype: object

In [14]:
# separate year from title to get year_released column
# find the four-digit year within parenthese
merged_movie_ratings['year_released'] = merged_movie_ratings['title'].str.extract(r'\((\d{4})\)')
merged_movie_ratings.tail()

,movieId,title,genres,userId,rating,timestamp,year_rated,year_released
100831,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,184,4.0,1537109082,2018,2017
100832,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,184,3.5,1537109545,2018,2017
100833,193585,Flint (2017),Drama,184,3.5,1537109805,2018,2017
100834,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,184,3.5,1537110021,2018,2018
100835,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,331,4.0,1537157606,2018,1991

In [15]:
# check year released dtype and change to categorical if needed
# merged_movie_ratings.dtypes
merged_movie_ratings['year_released'] = merged_movie_ratings['year_released'].astype('category')

merged_movie_ratings.dtypes

movieId             int64
title              object
genres             object
userId              int64
rating            float64
timestamp           int64
year_rated       category
year_released    category
dtype: object

In [16]:
# # change rating from continuous to discrete to avoid error with KNN model
# bins = [0, 0.5, 1, 1.5, 2, 2.5, 3, 3.5, 4, 4.5, 5.0, 5.5]
# labels = [0, 0.5, 1, 1.5, 2, 2.5, 3, 3.5, 4, 4.5, 5]

# # Convert continuous ratings to discrete classes
# merged_movie_ratings['discrete_rating'] = pd.cut(merged_movie_ratings['rating'], bins=bins, labels=labels, right=False)

# merged_movie_ratings.head(20)

In [17]:
# format genre as a list. may help with getting dummies
merged_movie_ratings['genres'] = merged_movie_ratings['genres'].str.split('|')
merged_movie_ratings.head()

,movieId,title,genres,userId,rating,timestamp,year_rated,year_released
0,1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]",1,4.0,964982703,2000,1995
1,1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]",5,4.0,847434962,1996,1995
2,1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]",7,4.5,1106635946,2005,1995
3,1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]",15,2.5,1510577970,2017,1995
4,1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]",17,4.5,1305696483,2011,1995

In [18]:
## 2. Scaling and Categorizing (prep for cosine ML)
# a. genres - dummies (one-hot encode (binary 0/1 for each))
# b. rating - numerical scale?
# c. year_rated - dummies (one-hot encode)
# d. year_released - dummies (one-hot encode)

In [19]:
# Convert categorical data to numeric with `pd.get_dummies`
genres_encoded = merged_movie_ratings['genres'].str.get_dummies(sep=', ')
merged_dummies_df = pd.concat([merged_movie_ratings, genres_encoded], axis=1)
merged_dummies_df.head()

,movieId,title,genres,userId,rating,timestamp,year_rated,year_released,'Adventure','Adventure'],...,['Musical'],['Mystery',['Mystery'],['Romance',['Romance'],['Sci-Fi',['Sci-Fi'],['Thriller'],['War'],['Western']
0,1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]",1,4.0,964982703,2000,1995,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]",5,4.0,847434962,1996,1995,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]",7,4.5,1106635946,2005,1995,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]",15,2.5,1510577970,2017,1995,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]",17,4.5,1305696483,2011,1995,0,0,...,0,0,0,0,0,0,0,0,0,0

In [20]:
print(merged_dummies_df.isna().count())
# print(merged_dummies_df.isnull())

movieId         100836
title           100836
genres          100836
userId          100836
rating          100836
                 ...
['Sci-Fi'       100836
['Sci-Fi']      100836
['Thriller']    100836
['War']         100836
['Western']     100836
Length: 77, dtype: int64

In [22]:
rows_with_nan = merged_dummies_df[merged_dummies_df.isna().any(axis=1)]
print(rows_with_nan)

# IMPORTANT: not all movies have (year) which creates null values for year released :(
# Need to choose whether to drop year_released as a feature column OR drop all movies without year in title. Leaning towards rmv year_released
# ALT: supplement with info from a sep API/source to get full year_released column?

        movieId                                              title  \
81292     40697                                          Babylon 5
81293     40697                                          Babylon 5
99325    140956                                   Ready Player One
99326    140956                                   Ready Player One
99327    140956                                   Ready Player One
99328    140956                                   Ready Player One
99459    143410                                         Hyena Road
99526    147250  The Adventures of Sherlock Holmes and Doctor W...
99617    149334                                  Nocturnal Animals
99799    156605                                           Paterson
100051   162414                                          Moonlight
100269   167570                                             The OA
100426   171495                                             Cosmos
100427   171495                                             Cosmos
100428   171631                            Maria Bamford: Old Baby
100431   171749                  Death Note: Desu nôto (2006–2007)
100448   171891                                  Generation Iron 2
100601   176601                                       Black Mirror

                            genres  userId  rating   timestamp year_rated  \
81292                     [Sci-Fi]     210     4.0  1527266191       2018
81293                     [Sci-Fi]     528     0.5  1391736467       2014
99325   [Action, Sci-Fi, Thriller]     209     3.5  1524522239       2018
99326   [Action, Sci-Fi, Thriller]     305     4.5  1533043577       2018
99327   [Action, Sci-Fi, Thriller]     380     3.0  1534176158       2018
99328   [Action, Sci-Fi, Thriller]     514     3.0  1533946119       2018
99459         [(no genres listed)]     448     2.0  1474224802       2016
99526         [(no genres listed)]     105     5.0  1526207354       2018
99617            [Drama, Thriller]     306     3.0  1518380372       2018
99799         [(no genres listed)]     567     4.5  1525283448       2018
100051                     [Drama]     462     5.0  1478489531       2016
100269        [(no genres listed)]     414     4.0  1511535836       2017
100426        [(no genres listed)]     318     5.0  1516826406       2018
100427        [(no genres listed)]     599     4.0  1519116912       2018
100428        [(no genres listed)]     111     1.0  1517440909       2018
100431        [(no genres listed)]     105     5.0  1526207365       2018
100448        [(no genres listed)]     111     3.5  1517440199       2018
100601        [(no genres listed)]      62     5.0  1525795252       2018

       year_released  'Adventure'  'Adventure']  ...  ['Musical']  ['Mystery'  \
81292            NaN            0             0  ...            0           0
81293            NaN            0             0  ...            0           0
99325            NaN            0             0  ...            0           0
99326            NaN            0             0  ...            0           0
99327            NaN            0             0  ...            0           0
99328            NaN            0             0  ...            0           0
99459            NaN            0             0  ...            0           0
99526            NaN            0             0  ...            0           0
99617            NaN            0             0  ...            0           0
99799            NaN            0             0  ...            0           0
100051           NaN            0             0  ...            0           0
100269           NaN            0             0  ...            0           0
100426           NaN            0             0  ...            0           0
100427           NaN            0             0  ...            0           0
100428           NaN            0             0  ...            0           0
100431           NaN            0             0  ...            0           0
100448           NaN            0             0  ...            0           0
100601           NaN            0             0  ...            0           0

        ['Mystery']  ['Romance'  ['Romance']  ['Sci-Fi'  ['Sci-Fi']  \
81292             0           0            0          0           1
81293             0           0            0          0           1
99325             0           0            0          0           0
99326             0           0            0          0           0
99327             0           0            0          0           0
99328             0           0            0          0           0
99459             0           0            0          0           0
99526             0           0            0          0           0
99617             0           0            0          0           0
99799             0           0            0          0           0
100051            0           0            0          0           0
100269            0           0            0          0           0
100426            0           0            0          0           0
100427            0           0            0          0           0
100428            0           0            0          0           0
100431            0           0            0          0           0
100448            0           0            0          0           0
100601            0           0            0          0           0

        ['Thriller']  ['War']  ['Western']
81292              0        0            0
81293              0        0            0
99325              0        0            0
99326              0        0            0
99327              0        0            0
99328              0        0            0
99459              0        0            0
99526              0        0            0
99617              0        0            0
99799              0        0            0
100051             0        0            0
100269             0        0            0
100426             0        0            0
100427             0        0            0
100428             0        0            0
100431             0        0            0
100448             0        0            0
100601             0        0            0

[18 rows x 77 columns]

In [23]:
##3. basic ML model - cosine similarity

In [24]:
# # create features set - drop nulls due to year_released issue
# merged_dummies_df = merged_dummies_df.dropna()
# features = merged_dummies_df.drop(columns=['genres', 'title', 'movieId', 'userId', 'timestamp'])  # Drop non-feature columns
# # drop 'rating' if use 'discrete_rating'
# features.head()

In [26]:
# create features set - drop release_year due to issue with new NaNs if no year in title
features = merged_dummies_df.drop(columns=['genres', 'title', 'movieId', 'userId', 'timestamp', 'year_released'])  # Drop non-feature columns
features.head()

,rating,year_rated,'Adventure','Adventure'],'Animation','Animation'],'Children','Children'],'Comedy','Comedy'],...,['Musical'],['Mystery',['Mystery'],['Romance',['Romance'],['Sci-Fi',['Sci-Fi'],['Thriller'],['War'],['Western']
0,4.0,2000,0,0,1,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,4.0,1996,0,0,1,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,4.5,2005,0,0,1,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,2.5,2017,0,0,1,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,4.5,2011,0,0,1,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [27]:
# Normalize the Data
scaler = StandardScaler()
features_scaled = scaler.fit_transform(features)
features_scaled[:1]

array([[ 0.47811176, -1.12310485, -0.3891499 , -0.07439387,  4.69275162,
        -0.0241961 ,  3.77223059, -0.06987921,  2.97994472, -0.19324434,
        -0.28751204, -0.15520961, -0.02559212, -0.03701938, -0.44016958,
        -0.30328888, -0.25773426,  4.27210242, -0.07871898, -0.03688482,
        -0.18889487, -0.11675136, -0.20704714, -0.12969172, -0.15399914,
        -0.23527634, -0.11904285, -0.19407117, -0.40715419, -0.28686464,
        -0.31748014, -0.13181022, -0.56044451, -0.04718447, -0.21927681,
        -0.01259757, -0.13339775, -0.02159446, -0.65771885, -0.04298823,
         2.96077668, -0.01372808, -0.15990325, -0.01863381, -0.14544784,
        -0.00890747, -0.46648205, -0.27721382, -0.26440885, -0.01443268,
        -0.03508894, -0.09441877, -0.34592773, -0.25795299, -0.05398311,
        -0.0147724 , -0.03228591, -0.00833213, -0.13561398, -0.07992172,
        -0.0307085 , -0.01967019, -0.09783397, -0.01408479, -0.02500335,
        -0.02480399, -0.04469135, -0.0375528 , -0.07916416, -0.00944785,
        -0.03872631]])

In [28]:
# Calculate Cosine Similarity
cosine_sim = cosine_similarity(features_scaled)
cosine_sim[:1]

# not enough memory... may need to eith use AWS (also crashed free Google Colab) or vetcorize??

MemoryError: Unable to allocate 75.8 GiB for an array with shape (100836, 100836) and data type float64

In [ ]:
# Create a Function to Get Recommendations
# You can create a function that takes a movie title as input and returns similar movies based on the cosine similarity.

def get_recommendations(title, cosine_sim=cosine_sim):
    # Get the index of the movie that matches the title
    title_index = df.index[df['title'] == title].tolist()[0]

    # Get the pairwise similarity scores of all movies with that movie
    sim_scores = list(enumerate(cosine_sim[title_index]))

    # Sort the movies based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the 10 most similar movies
    sim_scores = sim_scores[1:11]

    # Get the movie indices
    movie_indices = [i[0] for i in sim_scores]

    # Return the top 10 most similar movies
    return df['title'].iloc[movie_indices]

In [ ]:
# Use the Function (which utilizes fitted cosine similarity model)
# Now you can use the function to get recommendations for a specific movie.
recommended_movies = get_recommendations('Your Movie Title')
print(recommended_movies)

In [ ]:
## Evaluate model

In [ ]:
# Make Predictions: Based on the similarity scores, you can predict ratings for a user by taking a weighted average of the ratings of similar movies. For example, if you want to predict the rating for a movie that a user hasn't seen yet, you would look at the ratings the user has given to other movies and their cosine similarity to the target movie.

# Create a Test Set: You need a test set of known ratings (ground truth) to evaluate the predictions. This could be a subset of your data where you know the actual ratings.

# Calculate Accuracy Metrics: Since cosine similarity is often used in a recommendation context, you may want to calculate metrics such as:

# Mean Absolute Error (MAE): Measures the average magnitude of the errors in a set of predictions, without considering their direction.
# from sklearn.metrics import mean_absolute_error
# mae = mean_absolute_error(actual_ratings, predicted_ratings)
# Root Mean Squared Error (RMSE): Measures the square root of the average of squared differences between predicted and actual ratings.
# from sklearn.metrics import mean_squared_error
# rmse = mean_squared_error(actual_ratings, predicted_ratings, squared=False)
# R-squared (R²): Indicates how well the predicted ratings approximate the actual ratings.
# from sklearn.metrics import r2_score
# r2 = r2_score(actual_ratings, predicted_ratings)
# Evaluate the Results: Compare the calculated metrics to determine how well your cosine similarity model is performing. Lower MAE and RMSE values indicate better accuracy.

In [ ]:
# potential optimization ideas:
# 1. cut off movies with only 1 (or other low number) rating (amt rated not score itself) --> drop or bin into 'less than x amt reviews' \
# will cause issues if only like niche movies...? might accidentally drop a movie if not enough ratings?; could be future advancement...?
# 2. cut off point for low rated reviews?? (but what if user likes their bad taste!) --> make less than 2 stars bin (like chlg 21)
# 3. clean up genres so that instead of unique combos, it is orgz'd by core genres

In [91]:
released_counts = merged_movie_ratings['year_released'].value_counts()

for years, count in released_counts.items():
    if count > 1:
        print(f"{years}: {count}")

1995: 6144
1994: 5296
1999: 4536
1996: 4509
2000: 4268
2001: 3914
1993: 3741
1997: 3643
2002: 3642
1998: 3557
2004: 3390
2003: 3145
2006: 2584
2005: 2498
2007: 2318
2008: 2151
1992: 2013
1990: 1926
1989: 1895
2009: 1856
1991: 1722
2010: 1715
1986: 1581
1988: 1551
1987: 1540
1984: 1441
2011: 1440
2012: 1386
2014: 1320
1985: 1237
2013: 1201
2015: 1088
1982: 1053
1980: 944
1983: 878
1981: 792
1979: 786
2016: 785
1975: 637
1977: 567
1971: 533
1978: 490
1973: 483
1974: 466
2017: 461
1968: 434
1976: 423
1967: 381
1964: 376
1972: 366
1963: 287
1954: 272
1962: 262
1960: 251
1970: 244
1959: 243
1965: 234
1961: 225
1940: 223
1969: 218
1957: 215
1939: 201
1941: 197
1966: 190
1942: 185
1955: 182
1951: 182
1958: 165
1950: 161
1953: 153
1946: 138
1956: 115
1937: 115
1952: 96
1944: 92
2018: 91
1948: 80
1931: 76
1949: 72
1933: 65
1938: 56
1936: 53
1947: 52
1935: 46
1945: 42
1934: 34
1927: 29
1932: 24
1943: 20
1925: 19
1930: 17
1922: 16
1926: 13
1928: 13
1929: 9
1920: 8
1923: 7
1924: 6
1916: 5
1902: 5
1921: 5
1903: 2

In [89]:
# merged_movie_ratings['genres'].dtypes
genre_counts = merged_movie_ratings['genres'].value_counts()
print(genre_counts)

genres
Comedy                             7196
Drama                              6291
Comedy|Romance                     3967
Comedy|Drama|Romance               3000
Comedy|Drama                       2851
                                   ...
Crime|Drama|Film-Noir|Romance         1
Crime|Romance                         1
Adventure|Documentary|Western         1
Action|Fantasy|Western                1
Action|Animation|Comedy|Fantasy       1
Name: count, Length: 951, dtype: int64

In [93]:
for genres, count in genre_counts.items():
    if int(count) > 1:  # Convert count to an integer
        print(f"{genres}: {count}")

Comedy: 7196
Drama: 6291
Comedy|Romance: 3967
Comedy|Drama|Romance: 3000
Comedy|Drama: 2851
Drama|Romance: 2838
Action|Adventure|Sci-Fi: 2361
Crime|Drama: 2315
Action|Crime|Thriller: 1554
Action|Adventure|Thriller: 1455
Action|Adventure|Sci-Fi|Thriller: 1446
Drama|Thriller: 1365
Action|Sci-Fi|Thriller: 1195
Comedy|Crime: 1171
Crime|Drama|Thriller: 1119
Drama|War: 1044
Action|Drama|War: 1034
Action|Crime|Drama|Thriller: 1007
Documentary: 891
Drama|Mystery|Thriller: 712
Action|Sci-Fi: 689
Action|Comedy: 664
Action|Adventure|Sci-Fi|IMAX: 650
Action|Thriller: 650
Horror: 640
Horror|Thriller: 630
Children|Comedy: 629
Thriller: 628
Action|Adventure|Fantasy: 615
Mystery|Thriller: 598
Adventure|Fantasy: 584
Adventure|Animation|Children|Comedy|Fantasy: 574
Comedy|Crime|Drama|Thriller: 563
Action|Adventure: 555
Adventure|Comedy|Sci-Fi: 532
Action|Comedy|Sci-Fi: 515
Adventure|Animation|Children|Comedy: 514
Crime|Mystery|Thriller: 494
Adventure|Comedy: 485
Action|Adventure|Drama: 479
Action|Drama|Thriller: 472
Comedy|Horror: 469
Comedy|Sci-Fi: 457
Adventure|Children|Fantasy: 456
Action|Crime: 427
Comedy|Drama|Romance|War: 421
Crime|Thriller: 418
Adventure|Drama|Sci-Fi: 416
Adventure|Drama: 383
Comedy|Crime|Drama: 379
Action|Adventure|Comedy: 372
Children|Comedy|Fantasy: 371
Horror|Sci-Fi: 369
Comedy|Fantasy|Romance: 369
Adventure|Comedy|Fantasy: 353
Action|Drama: 349
Horror|Sci-Fi|Thriller: 348
Crime|Horror|Thriller: 340
Comedy|Fantasy: 325
Drama|Sci-Fi|Thriller: 320
Comedy|Drama|Fantasy|Romance: 319
Drama|Sci-Fi: 316
Action|Comedy|Crime|Thriller: 316
Crime|Drama|Mystery|Thriller: 314
Drama|Horror|Thriller: 312
Action|Adventure|Comedy|Fantasy: 311
Action|Crime|Drama: 291
Horror|Mystery|Thriller: 283
Comedy|Crime|Thriller: 283
Drama|Fantasy|Romance: 280
Animation|Children|Comedy: 275
Animation|Children|Fantasy|Musical: 274
Action|Adventure|Sci-Fi|Thriller|IMAX: 269
Drama|Mystery|Sci-Fi|Thriller: 269
Action|Adventure|Comedy|Sci-Fi: 262
Adventure|Animation|Children|Comedy|Musical: 261
Comedy|Drama|Fantasy: 259
Mystery|Sci-Fi|Thriller: 259
Comedy|Musical|Romance: 256
Drama|Mystery: 250
Action|Comedy|Crime|Drama: 246
Action|Comedy|Crime: 243
Action|Adventure|Comedy|Crime: 241
Adventure|Drama|IMAX: 237
Drama|Musical|Romance: 235
Action|Horror|Sci-Fi|Thriller: 234
Drama|Romance|Sci-Fi: 233
Action|Adventure|Drama|War: 232
Children|Drama: 223
Drama|Horror|Mystery: 213
Action|Adventure|Drama|Sci-Fi|Thriller: 213
Action|Drama|Romance: 209
Action|Adventure|Drama|Fantasy: 204
Drama|Thriller|War: 204
Action|Adventure|Comedy|Romance: 202
Comedy|Musical: 202
Crime|Drama|Mystery: 199
Action|Comedy|Romance: 197
Comedy|War: 196
Children|Comedy|Fantasy|Musical: 196
Action|Adventure|Comedy|Romance|Thriller: 195
Adventure|Comedy|Drama: 192
Adventure|Fantasy|IMAX: 191
Drama|Musical: 191
Action|Drama|Sci-Fi|Thriller: 191
Action|Romance|Thriller: 190
Drama|Romance|War: 189
Action: 186
Action|Sci-Fi|Thriller|IMAX: 184
Crime|Film-Noir|Mystery|Thriller: 179
Action|Adventure|Animation|Children|Comedy: 178
Adventure|Drama|Western: 177
Action|Horror|Sci-Fi: 174
Action|Adventure|Mystery|Thriller: 173
Adventure|Animation|Children|Drama|Musical|IMAX: 172
Adventure|Animation|Children|Comedy|Fantasy|Romance: 172
Drama|Horror: 172
Adventure|Children: 168
Action|Crime|Mystery|Sci-Fi|Thriller: 162
Action|Comedy|Crime|Fantasy: 162
Drama|Romance|Thriller: 160
Crime|Drama|Romance: 159
Action|Mystery|Thriller: 157
Drama|Mystery|Romance|Thriller: 156
Action|Drama|Western: 154
Comedy|Western: 153
Adventure|Drama|War: 152
Action|Crime|Drama|IMAX: 151
Western: 151
Adventure|Animation|Children|Drama: 150
Animation|Comedy: 150
Animation|Children: 148
Animation|Children|Fantasy|Musical|Romance|IMAX: 146
Comedy|Drama|War: 145
Action|Adventure|Comedy|Fantasy|Romance: 144
Action|Crime|Drama|Mystery|Sci-Fi|Thriller|IMAX: 143
Sci-Fi: 142
Action|Adventure|Romance|Thriller: 140
Action|Drama|Romance|War: 139
Comedy|Horror|Mystery|Thriller: 136
Crime|Drama|Sci-Fi|Thriller: 136
Action|Adventure|Fantasy|Sci-Fi: 134
Comedy|Drama|Sci-Fi: 134
Adventure|Children|Drama: 132
Drama|Horror|Mystery|Thriller: 131
Adventure|Comedy|Western: 131
Action|Western: 130
Drama|Western: 130
Animation|Children|Drama: 130
Adventure|Sci-Fi: 128
Action|Adventure|Horror|Sci-Fi: 127
Action|Horror|Thriller: 125
Action|Crime|Drama|Mystery|Thriller: 124
Children|Drama|Sci-Fi: 122
Action|Romance|Sci-Fi|Thriller: 122
Action|Crime|IMAX: 116
Sci-Fi|Thriller: 116
Adventure|Drama|Thriller: 115
Animation|Children|Drama|Musical|Romance: 115
Comedy|Horror|Thriller: 115
Comedy|Drama|Fantasy|Romance|Thriller: 115
Crime|Horror|Mystery|Thriller: 113
Action|Adventure|Drama|Thriller: 113
Action|Adventure|Crime|Thriller: 113
Action|Horror: 112
Comedy|Thriller: 112
Adventure|Comedy|Crime: 112
Action|Crime|Sci-Fi: 111
Adventure|Animation|Children|Romance|Sci-Fi: 104
Adventure|Children|Comedy: 104
Adventure|Animation|Children: 103
Action|Adventure|Fantasy|IMAX: 102
Action|Crime|Mystery|Thriller: 101
Crime|Drama|Film-Noir|Thriller: 100
Horror|Mystery: 100
Action|Drama|Sci-Fi: 99
Adventure|Animation|Children|Comedy|Crime|Fantasy|Mystery: 97
Action|Comedy|Musical: 96
Adventure|Animation|Comedy: 96
Comedy|Documentary: 95
Adventure|Animation|Children|Fantasy|Musical: 94
Animation|Children|Comedy|Crime: 94
Adventure|Children|Fantasy|Musical: 93
Adventure|Animation|Children|Comedy|Musical|Romance: 92
Action|Comedy|Crime|Drama|Thriller: 91
Action|Crime|Drama|Sci-Fi|Thriller: 91
Drama|Fantasy|Thriller: 91
Comedy|Crime|Romance: 91
Action|Adventure|Fantasy|Horror: 90
Adventure|Animation|Children|Fantasy: 89
Adventure|Animation|Fantasy: 89
Adventure|Comedy|Sci-Fi|Western: 88
Action|Adventure|Comedy|Fantasy|Horror|Thriller: 88
Drama|Fantasy|Mystery|Romance: 88
Action|Sci-Fi|IMAX: 87
Animation|Comedy|Musical: 86
Action|Comedy|Horror: 85
Comedy|Drama|Musical: 85
Crime|Horror: 85
Action|Romance: 84
Action|Crime|Film-Noir|Mystery|Thriller: 84
Musical|Romance: 82
Comedy|Fantasy|Romance|Sci-Fi: 82
Comedy|Drama|Thriller: 81
Action|Adventure|Children|Comedy|Fantasy: 81
Action|Fantasy|War|IMAX: 80
Children|Comedy|Drama: 79
Crime|Drama|Film-Noir: 78
Drama|Fantasy: 78
Action|Adventure|Drama|Sci-Fi: 77
Animation|Children|Drama|Fantasy|Musical: 77
Comedy|Fantasy|Sci-Fi: 77
Adventure|Animation|Children|Fantasy|IMAX: 76
Action|Adventure|Thriller|IMAX: 76
Action|Adventure|Crime|IMAX: 76
Action|Adventure|Crime|Drama|Thriller: 75
Action|Adventure|Sci-Fi|Thriller|War: 75
Action|Comedy|War: 75
Animation|Children|Comedy|Romance: 74
Action|Drama|Thriller|War: 74
Action|Adventure|Western: 73
Sci-Fi|IMAX: 73
Action|Adventure|Fantasy|Thriller: 72
Adventure|Fantasy|Thriller|IMAX: 71
Action|Comedy|Horror|Thriller: 71
Animation|Children|Comedy|Musical: 69
Action|Horror|Sci-Fi|Thriller|IMAX: 69
Drama|Romance|War|Western: 68
Adventure|Children|Comedy|Fantasy|Sci-Fi: 68
Drama|Fantasy|Horror|Thriller: 68
Animation|Children|Comedy|Musical|Romance: 67
Action|Fantasy|Horror|Thriller: 67
Action|Adventure|Comedy|Thriller: 66
Crime|Drama|Romance|Thriller: 66
Action|Romance|Western: 66
Comedy|Horror|Sci-Fi: 66
Children|Drama|Fantasy: 65
Children|Comedy|Romance: 65
Action|Crime|Fantasy|Thriller: 64
Adventure|Animation|Children|Comedy|Fantasy|IMAX: 64
Adventure|Comedy|Romance: 64
Comedy|Crime|Mystery|Thriller: 63
Action|Adventure|Fantasy|Sci-Fi|IMAX: 63
Comedy|Horror|Musical|Sci-Fi: 63
Fantasy|Horror|Mystery|Romance: 62
Romance: 62
Adventure|Children|Comedy|Fantasy|IMAX: 61
Adventure|Animation|Children|Comedy|Fantasy|Sci-Fi: 61
Fantasy|Sci-Fi: 61
Action|Comedy|Crime|Mystery: 61
Adventure|Drama|Romance: 61
Action|Adventure|Children|Comedy: 61
Adventure|Comedy|Fantasy|Sci-Fi: 61
Action|War: 60
Action|Crime|Romance|Thriller: 60
Children|Drama|Fantasy|Romance: 59
Adventure|Children|Comedy|Musical: 59
Crime|Drama|Mystery|Romance|Thriller: 59
Adventure|Fantasy|Mystery|Romance|IMAX: 58
Action|Mystery|Sci-Fi: 58
Adventure|Drama|Fantasy|IMAX: 58
Action|Adventure|Mystery|Romance|Thriller: 57
Action|Adventure|Mystery|Sci-Fi: 57
Action|Thriller|War: 56
Drama|Horror|Sci-Fi: 55
Animation|Children|Fantasy|Musical|Romance: 54
Adventure|Crime|Drama: 54
Action|Animation|Children|Comedy|IMAX: 54
Action|Drama|Horror|Thriller: 53
Adventure|Children|Comedy|Fantasy: 53
Action|Comedy|Sci-Fi|Western: 53
Action|Adventure|Crime|Drama|Thriller|War: 53
Comedy|Crime|Mystery: 53
Comedy|Crime|Drama|Romance|Thriller: 52
Drama|Horror|Sci-Fi|Thriller: 52
Comedy|Documentary|Drama: 52
Crime|Drama|Film-Noir|Mystery|Thriller: 52
Action|Adventure|Animation|Drama|Fantasy: 51
Action|Adventure|Comedy|Fantasy|Horror: 51
Comedy|Drama|Musical|Romance: 51
Action|Adventure|Drama|Fantasy|Mystery|IMAX: 50
Action|Animation|Comedy: 50
Action|Adventure|Animation|Sci-Fi: 50
Action|Adventure|Drama|Mystery|Thriller: 50
Adventure|Comedy|Musical: 49
Action|Fantasy|Horror: 49
Comedy|Crime|Drama|Musical: 49
Animation|Sci-Fi: 48
Animation|Children|Musical: 48
Adventure|Film-Noir|Sci-Fi|Thriller: 48
Action|Adventure|Comedy|Western: 48
Action|Mystery: 48
Comedy|Mystery|Thriller: 47
Action|Adventure|Comedy|Crime|Thriller: 47
(no genres listed): 47
Action|Comedy|Thriller: 47
Animation|Comedy|Fantasy: 46
Action|Comedy|Crime|Drama|Sci-Fi: 46
Action|Adventure|Comedy|Drama|War: 46
Children|Comedy|Musical: 46
Adventure|Animation|Children|Comedy|Drama|Musical|Romance: 45
Action|Adventure|Drama|Fantasy|Thriller: 45
Action|Comedy|Crime|Romance: 45
Fantasy|Horror|Thriller: 45
Comedy|Romance|Thriller: 45
Comedy|Mystery: 45
Film-Noir|Mystery: 44
Mystery|Romance|Sci-Fi|Thriller: 44
Animation|Comedy|Fantasy|Musical|Romance: 44
Action|Comedy|Fantasy|Musical|Romance: 44
Action|Drama|Mystery|Sci-Fi|Thriller|IMAX: 43
Adventure|Animation|Children|Comedy|Drama|Fantasy: 43
Action|Drama|Mystery|Sci-Fi|Thriller: 43
Action|Adventure|Animation: 42
Drama|Fantasy|Mystery|Sci-Fi: 42
Action|Comedy|Fantasy: 42
Comedy|Horror|Musical: 42
Horror|Mystery|Sci-Fi|Thriller: 42
Action|Adventure|Comedy|War: 42
Adventure|Fantasy|Musical: 42
Action|Mystery|Sci-Fi|Thriller: 40
Documentary|Drama: 40
Action|Adventure|Animation|Children|Comedy|Fantasy: 40
Adventure|Animation|Fantasy|Romance: 40
Animation|Fantasy|Thriller: 40
Action|Romance|War|Western: 39
Adventure|Animation|Children|Sci-Fi: 39
Adventure|Animation|Children|Drama|Sci-Fi: 39
Action|Adventure|Animation|Children: 39
Musical: 39
Adventure|Drama|Fantasy: 38
Adventure|Children|Sci-Fi: 38
Action|Comedy|Drama: 38
Action|Adventure|Comedy|Crime|Mystery|Thriller: 38
Action|Fantasy|Sci-Fi: 38
Adventure|Drama|Fantasy|Mystery|Sci-Fi: 38
Action|Drama|Thriller|Western: 38
Adventure|Comedy|Romance|War: 37
Animation|Children|Drama|Fantasy: 37
Action|Comedy|Fantasy|Horror: 36
Crime|Drama|Horror|Mystery|Thriller: 36
Animation|Children|Drama|Musical: 35
Adventure|Children|Musical: 35
Animation: 35
Action|Crime|Drama|Thriller|War: 35
Action|Thriller|Western: 34
Crime|Film-Noir|Thriller: 34
Adventure|Children|Romance: 34
Comedy|Drama|Mystery: 34
Action|Adventure|Drama|Fantasy|IMAX: 34
Drama|Mystery|Western: 34
Crime|Film-Noir: 34
Adventure|Comedy|Fantasy|Romance: 34
Action|Adventure|Animation|Horror|Sci-Fi: 33
Adventure|Sci-Fi|Thriller: 33
Drama|Film-Noir|Romance: 33
Action|Adventure|Animation|Comedy: 33
Action|Drama|Romance|Sci-Fi: 33
Children|Comedy|Fantasy|Horror: 33
Adventure|Animation|Fantasy|Sci-Fi: 32
Adventure|Western: 31
Comedy|Fantasy|Horror|Thriller: 31
Adventure|Animation|Children|Comedy|Sci-Fi: 31
Documentary|Musical: 31
Adventure|Animation|Comedy|Crime: 31
Adventure|Fantasy|Romance: 31
Crime|Thriller|War: 30
Documentary|War: 30
Action|Adventure|Animation|Children|Comedy|IMAX: 30
Film-Noir|Mystery|Thriller: 30
Drama|Horror|Musical|Thriller: 30
Action|Comedy|Western: 30
Action|Crime|Drama|War: 29
Adventure|Animation|Comedy|Fantasy|Musical|Romance: 29
Action|Adventure|Animation|Children|Sci-Fi: 29
Comedy|Fantasy|Horror: 29
Fantasy|Horror|Romance|Thriller: 29
Action|Horror|Sci-Fi|IMAX: 29
Action|Adventure|Comedy|Crime|Fantasy: 29
Crime|Drama|Western: 28
Adventure|Animation|Children|Drama|Fantasy: 28
Action|Adventure|Romance: 28
Action|Crime|Drama|Mystery|Sci-Fi|Thriller: 28
Comedy|Horror|Sci-Fi|Thriller: 28
Action|Crime|Horror|Sci-Fi|Thriller: 27
Comedy|Horror|Romance: 27
Animation|Musical: 27
Action|Adventure|Crime|Horror|Thriller: 26
Adventure|Comedy|Crime|Romance: 26
Drama|Mystery|Romance: 26
Drama|Mystery|Sci-Fi: 26
Drama|Film-Noir|Thriller: 26
Action|Adventure|Animation|Children|Fantasy|Sci-Fi: 26
Animation|Drama|Fantasy: 26
Drama|Sci-Fi|IMAX: 26
Action|Children|Comedy|Fantasy|Sci-Fi: 25
Adventure|Animation|Children|Musical: 25
Mystery|Romance|Thriller: 25
Action|Animation|Drama|Sci-Fi: 25
Adventure|Animation|Children|Comedy|IMAX: 25
Action|Crime|Sci-Fi|Thriller: 25
Action|Crime|Drama|Western: 25
Romance|Sci-Fi|Thriller: 24
Children|Comedy|Sci-Fi: 24
Animation|Children|Comedy|Fantasy|Musical|Romance|IMAX: 24
Comedy|Drama|Musical|Sci-Fi: 24
Animation|Drama|Mystery|Sci-Fi|Thriller: 23
Animation|Comedy|Sci-Fi: 23
Action|Comedy|Fantasy|IMAX: 23
Fantasy|Horror: 23
Adventure|Comedy|Drama|Fantasy|Romance: 23
Crime|Mystery|Romance|Thriller: 23
Action|Animation|Sci-Fi: 23
Adventure|Animation|Drama|Fantasy|Sci-Fi: 23
Comedy|Musical|War: 23
Action|Comedy|Documentary: 23
Drama|Fantasy|Romance|Thriller: 22
Romance|Thriller: 22
Action|Drama|Sci-Fi|IMAX: 22
Fantasy: 22
Adventure|Comedy|Mystery|Romance: 22
Adventure|Drama|Fantasy|Romance: 22
Action|Adventure|Children|Comedy|Fantasy|Sci-Fi: 21
Mystery|Sci-Fi|Thriller|IMAX: 21
Action|Crime|Thriller|IMAX: 21
Adventure|Drama|Thriller|IMAX: 21
Action|Adventure|Drama|Western: 21
Children|Musical: 21
Adventure|Romance: 21
Action|Drama|Romance|Thriller: 21
Adventure|Children|Comedy|Mystery: 21
Crime: 21
Action|Animation|Sci-Fi|Thriller: 21
Film-Noir|Romance|Thriller: 20
Action|Drama|Horror: 20
Mystery: 20
Drama|Romance|Western: 20
Crime|Film-Noir|Mystery: 20
Adventure|Animation|Children|Drama|Musical: 20
Animation|Drama: 20
Action|Animation|Children|Comedy|Sci-Fi|IMAX: 20
Animation|Children|Comedy|IMAX: 20
Comedy|Crime|Drama|Romance: 19
Action|Drama|Horror|IMAX: 19
Action|Comedy|Horror|Sci-Fi: 19
Action|Comedy|Romance|War: 19
Action|Fantasy|Thriller: 19
Drama|Fantasy|Horror|Romance: 19
Action|Adventure|Drama|Thriller|Western: 19
Adventure|Animation|Children|Comedy|Fantasy|Sci-Fi|IMAX: 19
Action|Adventure|Animation|Children|Comedy|Sci-Fi: 19
Adventure: 19
Comedy|Romance|Sci-Fi: 19
Drama|Sci-Fi|War: 19
Adventure|Drama|Romance|Sci-Fi: 19
Action|Adventure|Fantasy|Mystery: 19
Animation|Drama|Romance: 19
Action|Adventure|Crime: 18
Adventure|Comedy|Sci-Fi|Thriller: 18
Action|Children: 18
Action|Comedy|Sci-Fi|IMAX: 18
Animation|Children|Fantasy|War: 18
Action|Sci-Fi|Thriller|Western: 18
Action|Adventure|Children|Fantasy: 18
Adventure|Animation|Children|Comedy|Crime: 18
Adventure|Romance|Sci-Fi|IMAX: 18
Action|Adventure|Drama|Thriller|IMAX: 18
Action|Crime|Thriller|Western: 18
Fantasy|Horror|Mystery|Thriller: 18
Children|Drama|Mystery: 18
Drama|Fantasy|Romance|Sci-Fi: 17
Comedy|Crime|Drama|Mystery|Thriller: 17
Adventure|Animation|Children|Fantasy|Musical|Romance: 17
Adventure|Children|Comedy|Fantasy|Mystery: 17
Adventure|Romance|Thriller: 17
Adventure|Children|Drama|Fantasy|IMAX: 17
Drama|Horror|Romance|Thriller: 17
Adventure|Animation|Children|Comedy|Fantasy|Musical|Romance: 17
Action|Adventure|Animation|Children|Comedy|Western: 17
Comedy|Crime|Horror: 17
Animation|Children|Fantasy|IMAX: 17
Action|Adventure|Animation|Fantasy|Sci-Fi: 17
Horror|Western: 17
Drama|Fantasy|Horror: 17
Crime|Drama|Fantasy|Film-Noir|Mystery|Romance: 17
Action|Adventure|Children|IMAX: 16
Action|Adventure|Animation|Fantasy: 16
Action|Adventure|Comedy|Fantasy|Mystery: 16
Children|Drama|Fantasy|Mystery: 16
Animation|Drama|War: 16
Animation|Children|Comedy|Drama|Fantasy: 15
Action|Fantasy|Horror|Mystery|Thriller: 15
Adventure|Animation|Sci-Fi: 15
Action|Animation: 15
Animation|Children|Musical|IMAX: 15
Action|Comedy|Romance|Thriller: 15
Horror|Mystery|Sci-Fi: 15
Action|Children|Romance: 15
Drama|Fantasy|Horror|Mystery|Thriller: 15
Crime|Drama|Fantasy|Thriller: 15
Adventure|Fantasy|Romance|Sci-Fi|Thriller: 14
Children|Comedy|Western: 14
Action|Crime|Fantasy: 14
Crime|Sci-Fi|Thriller: 14
Adventure|Drama|Sci-Fi|Thriller: 14
Action|Adventure|Children|Drama: 14
Adventure|Animation|Comedy|Fantasy|Musical: 14
Adventure|Children|Comedy|Drama: 14
Action|Adventure|Animation|Children|Comedy|Romance: 14
Action|Crime|Horror: 14
Adventure|Animation|Comedy|Fantasy|Romance: 14
Animation|Children|Comedy|Fantasy|Musical|Romance: 13
Adventure|Animation|Children|Crime|Drama: 13
Animation|Comedy|Drama: 13
Children|Sci-Fi: 13
Animation|Children|Fantasy: 13
Action|Fantasy: 13
Children|Comedy|Fantasy|Romance: 13
Comedy|Fantasy|Thriller: 13
Action|Children|Fantasy: 13
Comedy|Crime|Mystery|Romance|Thriller: 13
Action|Adventure|Fantasy|Romance|IMAX: 13
Drama|Film-Noir: 13
Action|Fantasy|Sci-Fi|Thriller: 13
Action|Adventure|Thriller|War: 13
Drama|Fantasy|Mystery: 12
Action|Fantasy|Thriller|IMAX: 12
Fantasy|Horror|Mystery: 12
Animation|Comedy|Fantasy|Musical: 12
Action|Drama|Mystery: 12
Action|Sci-Fi|War: 12
Crime|Drama|Film-Noir|Mystery: 12
Drama|Fantasy|Musical|Romance: 12
Adventure|Children|Comedy|Fantasy|Musical: 12
Sci-Fi|Thriller|IMAX: 12
Action|Animation|Mystery|IMAX: 12
Fantasy|Horror|Sci-Fi|Thriller: 12
Drama|Horror|Mystery|Sci-Fi|Thriller: 12
Action|Adventure|Children: 11
Crime|Drama|Horror: 11
Action|Adventure|Children|Fantasy|Mystery|Thriller: 11
Adventure|Drama|Horror|Thriller: 11
Action|Children|Comedy: 11
Comedy|Drama|Film-Noir: 11
Action|Adventure|Sci-Fi|War|IMAX: 11
Crime|Mystery: 11
Animation|Fantasy: 11
Comedy|Horror|Romance|Thriller: 11
Action|Comedy|Crime|Fantasy|Thriller|IMAX: 11
Documentary|IMAX: 11
Drama|Fantasy|Sci-Fi: 11
Adventure|Animation|Children|Musical|Western: 10
Drama|Romance|Sci-Fi|Thriller: 10
Action|Adventure|Crime|Drama: 10
Animation|Comedy|Drama|Romance|Sci-Fi: 10
Animation|Fantasy|Horror|Sci-Fi: 10
Animation|Children|Comedy|Fantasy: 10
Children|Drama|Fantasy|Mystery|Thriller: 10
Adventure|Children|Comedy|Fantasy|Romance: 10
Crime|Romance|Thriller: 10
Action|Comedy|IMAX: 10
Fantasy|Romance|Thriller|IMAX: 10
Crime|Drama|Romance|War: 10
Drama|Fantasy|Horror|Thriller|War: 10
Action|Fantasy|Horror|IMAX: 10
Comedy|Crime|Drama|Mystery|Romance: 10
Action|Crime|Drama|Thriller|IMAX: 10
Drama|Fantasy|Horror|Romance|Thriller: 9
Musical|Romance|War: 9
Comedy|Drama|Horror: 9
Comedy|Fantasy|Musical: 9
Adventure|Children|Drama|Fantasy: 9
Crime|Drama|Horror|Thriller: 9
Adventure|Drama|Mystery|Thriller: 9
Romance|Sci-Fi: 9
Mystery|Sci-Fi: 9
Comedy|Musical|Sci-Fi: 9
Animation|Comedy|Fantasy|Sci-Fi: 9
Action|Adventure|Animation|Comedy|Fantasy|Sci-Fi: 9
Adventure|Documentary: 9
War: 9
Action|Adventure|Fantasy|Romance: 9
Children|Fantasy: 9
Action|Animation|Children|Crime: 9
Animation|Mystery|Sci-Fi: 9
Action|Sci-Fi|Thriller|Western|IMAX: 9
Animation|Children|Fantasy|Mystery: 9
Action|Children|Drama: 8
Children|Fantasy|Musical: 8
Action|Adventure|Animation|Children|Fantasy: 8
Action|Animation|Comedy|Crime|Drama|Romance|Thriller: 8
Action|Adventure|Drama|Romance: 8
Adventure|Children|Drama|Sci-Fi: 8
Animation|Sci-Fi|IMAX: 8
Action|Drama|Thriller|IMAX: 8
Film-Noir|Horror|Mystery|Thriller: 8
Comedy|Crime|Musical: 8
Comedy|Crime|Romance|Thriller: 8
Adventure|Animation|Children|Fantasy|Sci-Fi: 8
Adventure|Children|Fantasy|Sci-Fi: 8
Adventure|Comedy|Thriller: 8
Adventure|Animation|Children|Sci-Fi|IMAX: 8
Action|Adventure|Animation|Fantasy|IMAX: 8
Children: 8
Children|Comedy|Mystery: 8
Animation|Comedy|Romance: 8
Action|Animation|Children|Comedy: 8
Action|Drama|Fantasy: 8
Adventure|Animation|Comedy|Fantasy|IMAX: 8
Action|Adventure|Drama|Romance|War: 7
Action|Animation|Crime: 7
Comedy|Drama|Fantasy|Sci-Fi: 7
Action|Adventure|Children|Mystery|Sci-Fi: 7
Action|Adventure|Western|IMAX: 7
Drama|War|Western: 7
Action|Drama|Horror|Sci-Fi|Thriller: 7
Comedy|Drama|Horror|Sci-Fi|Thriller: 7
Drama|Musical|Romance|IMAX: 7
Children|Comedy|Romance|Sci-Fi: 7

In [97]:
year_rated_counts = merged_movie_ratings['year_rated'].value_counts()
print(year_rated_counts)

year_rated
2000    10104
2017     7972
2007     7306
2016     6776
2018     6725
2015     6538
1996     5917
2005     5798
2012     4611
2008     4284
2009     4180
2003     4010
2006     3806
2002     3758
2001     3639
2004     3275
1999     2395
2010     2350
1997     2035
2011     1752
2013     1696
2014     1398
1998      511
Name: count, dtype: int64

In [99]:
rated_counts = merged_movie_ratings['rating'].value_counts()
print(rated_counts)
# potential 'less than 1' bin: 
# 1.0     2811
# 1.5     1791
# 0.5     1370

rating
4.0    26818
3.0    20047
5.0    13211
3.5    13136
4.5     8551
2.0     7551
2.5     5550
1.0     2811
1.5     1791
0.5     1370
Name: count, dtype: int64

In [ ]:
### ALT model idea
# [#]. [BRENDAN STARTED THIS PART. LOOK AT TIMESTAMP JUPYTER NB] Explore user info from unique user ids (can I build user profiles based \
# on this to do collaborative with later for ML?)
# a.	Compile all data based on user ids (group by?) + clean/rmv if no user data
# b.	[]
# c.	[eventually] For each user, cluster on chosen features
# d.	[eventually] Predict our new input based on prev clustering of user profiles that user most sim to?